##  3. Añadir suma de empleados y distancia

In [1]:
import pandas as pd
import pymongo
import csv
from pandas.io.json import json_normalize
import geojson
from geojson import Point, Feature, FeatureCollection, dump

In [2]:
#Importamos los datos
from pymongo import MongoClient 
client = MongoClient("mongodb://admin:admin@localhost:32768")
db = client.mybbdd

In [3]:
# Creamos un dataframe con todas las empresas. 
df = db.location.find(projection={'name':1,'employees':1,'geometry.coordinates':1,'_id':0})
df =pd.DataFrame(list(df))
print(len(df))
df.head()

5614

   employees                                   geometry       name
0        600  {'coordinates': [-121.904945, 37.692934]}  AdventNet
1         47  {'coordinates': [-122.333253, 47.603122]}   Wetpaint
2       1600  {'coordinates': [-121.904945, 37.692934]}       Zoho
3         60  {'coordinates': [-122.394523, 37.764726]}       Digg
4         18  {'coordinates': [-118.393064, 34.090368]}       Geni

In [4]:
#Comprobamos como acceder a longitud y latitud
long = df['geometry'][0]['coordinates'][0]
lat = df['geometry'][0]['coordinates'][1]

1. Query the newly created collection geospatially using $near operator and for each company calculate the nearest companies with radius R meters. Use R=100, R=1000 and R=10000
2. For each company sum the results of the nearest companies and save all results in a JSON file containing an array with the following format:

In [5]:
#Definimos una función para conocer los 
def geoQueryNear(geoJsonField, long, lat, distance):
    return {
        geoJsonField: {
            "$near": {
                "$geometry": {
                    "type": "Point", 
                    "coordinates": [long, lat]
                },
                "$maxDistance":distance
            }
        }
    }

In [6]:
# Aplicamos nuestra función en una query para cada una de las empresas. 
# Distancia 100
rest_100 = []
distance = 100
for i in range(len(df)):
    long = df['geometry'][i]['coordinates'][0]
    lat = df['geometry'][i]['coordinates'][1]
    result = db.location.find(geoQueryNear('geometry',long, lat, distance), projection={'employees': 1, 'name':1, '_id':0})
    total = pd.DataFrame(list(result))
    total_emp = total['employees'].sum()
    rest_100.append(total_emp)

In [7]:
# Tenemos un series con la suma de los empleados de las empresas a 100 m de distancia. 
# También suma los empleados de la empresa que le aplicamos la query. 
rest_100

[2200,
 352,
 2200,
 60,
 18,
 0,
 207,
 127,
 5299,
 11,
 15000,
 50,
 1328,
 145,
 120,
 209,
 71,
 305,
 55,
 35,
 195,
 63000,
 125,
 22,
 874,
 113,
 13636,
 35,
 0,
 195,
 0,
 496,
 15,
 63,
 3,
 5,
 86300,
 28000,
 107,
 70,
 107,
 50,
 31,
 6,
 15,
 700,
 8,
 3,
 8,
 3,
 21,
 2,
 844,
 75,
 26,
 0,
 25,
 20,
 2451,
 106,
 35,
 13636,
 402,
 6,
 10,
 10,
 72,
 155,
 3,
 1155,
 8,
 20,
 1665,
 37,
 39,
 12,
 4800,
 958,
 98,
 285,
 0,
 745,
 352,
 170,
 15,
 355,
 26,
 745,
 60,
 145,
 100,
 112,
 47,
 10,
 149,
 5,
 0,
 104,
 595,
 80,
 7,
 0,
 66,
 24,
 290,
 230,
 120,
 600,
 209,
 2,
 75,
 806,
 745,
 5080,
 40,
 30,
 50,
 1710,
 20,
 11,
 52,
 27,
 252,
 92,
 745,
 41,
 191166,
 5,
 1,
 20,
 87,
 226,
 135,
 127,
 16,
 13196,
 191166,
 75,
 75,
 49,
 20,
 50,
 66,
 191166,
 220,
 200,
 140,
 170,
 300000,
 25000,
 150,
 8000,
 10,
 2,
 20,
 47,
 8657,
 50,
 4,
 100,
 77,
 49,
 6,
 70,
 40,
 0,
 24,
 5,
 260,
 1000,
 3,
 350,
 1665,
 4,
 221,
 150,
 50,
 2,
 73,
 150,
 16,
 5,
 5,
 49,
 0,
 117,
 200,
 209,
 16,
 195,
 33350,
 10,
 1180,
 225,
 1500,
 25,
 40,
 806,
 60,
 102,
 70,
 90,
 1700,
 595,
 47,
 230,
 191166,
 191166,
 191166,
 4,
 570,
 191166,
 27,
 0,
 8,
 460,
 6,
 180,
 300,
 127,
 80,
 191166,
 214,
 255,
 745,
 135,
 1,
 5,
 3,
 50,
 25,
 110,
 114,
 13,
 35,
 38,
 463,
 7,
 30,
 153,
 175,
 1665,
 18,
 0,
 0,
 0,
 0,
 127,
 26,
 52,
 25,
 248,
 1,
 388,
 0,
 7,
 6,
 30,
 161,
 10,
 15,
 0,
 33,
 59,
 2,
 8,
 5,
 15,
 45,
 8,
 82,
 673,
 10,
 278,
 191166,
 125000,
 30,
 73,
 35,
 135,
 0,
 60,
 0,
 673,
 1440,
 5,
 0,
 3,
 12,
 18,
 8,
 207,
 316,
 30,
 0,
 15,
 0,
 3,
 25,
 183,
 96,
 209,
 7,
 996,
 9,
 150,
 0,
 3,
 170,
 2,
 3,
 155,
 4,
 6,
 600,
 226,
 6,
 3,
 1440,
 25,
 47,
 4,
 37,
 0,
 30,
 2,
 12,
 7,
 35,
 100,
 468,
 0,
 191166,
 58,
 150,
 200,
 428,
 214,
 120,
 200,
 191166,
 65,
 136,
 0,
 3,
 32,
 6,
 0,
 85,
 2451,
 63,
 103,
 10,
 100,
 60,
 58,
 30,
 147,
 12,
 45,
 230,
 80,
 17,
 9,
 420,
 50,
 253,
 3,
 3,
 15,
 4,
 9,
 28,
 10,
 170,
 25,
 316,
 0,
 25,
 19,
 95,
 12,
 15,
 8,
 120,
 60,
 5,
 65,
 1000,
 126,
 33,
 100,
 226,
 3,
 0,
 30,
 139,
 1,
 100,
 5,
 90000,
 30,
 1,
 10,
 10,
 4,
 3,
 8,
 1440,
 500,
 6,
 45,
 120,
 125,
 5,
 3,
 0,
 2,
 20,
 200,
 1018,
 3,
 6,
 65,
 3,
 673,
 80,
 8,
 410,
 0,
 10,
 400,
 191166,
 191166,
 250,
 49,
 3,
 350,
 252,
 14,
 76,
 463,
 10,
 4,
 70,
 0,
 11,
 0,
 170,
 63,
 39,
 650,
 350,
 15,
 101,
 400,
 20,
 1004,
 300,
 0,
 5,
 500,
 195,
 125,
 80000,
 5,
 10,
 40,
 11,
 0,
 47,
 191166,
 191166,
 0,
 66,
 0,
 16,
 35,
 2,
 191166,
 127,
 47,
 200,
 2,
 214,
 0,
 60,
 150,
 1440,
 105,
 253,
 30,
 191166,
 17,
 4,
 115,
 191166,
 30,
 1,
 12,
 0,
 2,
 500,
 595,
 131,
 1,
 1250,
 82,
 5,
 6,
 12,
 0,
 28,
 49,
 745,
 460,
 51000,
 4400,
 496,
 17,
 21,
 2,
 10,
 2,
 3,
 4,
 109,
 67,
 17,
 5,
 2,
 5,
 10,
 3,
 3,
 3,
 4,
 394,
 3,
 52,
 4,
 3,
 2,
 700,
 22,
 77,
 3,
 100,
 5,
 25,
 39,
 23,
 40,
 40,
 263,
 11,
 45,
 2,
 30,
 270,
 5,
 2,
 5,
 207,
 5,
 2,
 673,
 66,
 55,
 3,
 6,
 90,
 59,
 2,
 11,
 12,
 66,
 13,
 1,
 10,
 9,
 15500,
 38,
 4,
 2,
 5,
 20,
 25,
 60,
 9,
 5,
 28,
 10,
 26,
 76,
 1,
 76,
 10,
 44,
 58,
 416,
 663,
 4,
 232,
 382,
 60,
 382,
 5,
 80,
 10,
 50,
 745,
 4,
 16,
 16,
 226,
 10,
 10,
 496,
 210,
 2,
 400,
 8,
 273,
 9,
 8,
 2000,
 3,
 2,
 170,
 8,
 60,
 50,
 7,
 125,
 0,
 47,
 3,
 1,
 2,
 3,
 710,
 10,
 8,
 70,
 2,
 20232,
 40,
 18,
 8,
 59,
 4,
 11,
 150,
 2,
 20,
 3,
 20,
 2,
 2,
 234,
 107,
 5,
 958,
 1,
 205,
 10,
 40,
 8,
 113,
 58,
 25000,
 11,
 14,
 2,
 2451,
 285,
 5,
 5,
 20,
 32,
 32,
 156,
 8000,
 5,
 127,
 63,
 13,
 100,
 1,
 2,
 4,
 4,
 7,
 2,
 5,
 18,
 428,
 3,
 90,
 5,
 80000,
 55,
 50,
 60,
 8,
 324,
 226,
 15,
 9,
 136,
 92,
 45,
 65,
 3,
 20,
 85,
 6,
 2,
 7,
 15,
 5,
 4,
 15,
 35,
 1,
 59,
 8,
 20,
 4,
 110,
 50,
 2,
 3,
 0,
 160,
 5,
 80,
 3,
 1,
 273,
 150,
 4,
 14,
 180,
 587,
 221,
 4,
 70,
 4,
 90,
 45,
 420,
 2,
 310,
 302,
 2451,
 300,
 250,
 10,
 1,
 11,
 15,
 80,
 63,
 80,
 18,
 4,
 12,
 68,
 100,
 114,
 1,
 28,
 700,
 5,
 189,
 52,
 416,
 98,
 15,
 3,
 11,
 302,
 20,
 3,
 575,
 17,
 82,
 82,
 2,
 12,
 8000,
 5,
 2,
 6,
 745,
 320,
 29,
 463,
 750,
 18,
 900,
 14,
 19,
 2,
 100,
 1710,
 221,
 25,
 16,
 10,
 18,
 350,
 70,
 25,
 15,
 177000,
 1150,
 60,
 112,
 8,
 100,
 80,
 13,
 160,
 4000,
 120,
 10,
 12,
 30,
 60,
 52,
 150,
 20,
 34,
 94,
 50,
 2,
 3,
 9,
 2,
 2,
 6,
 388000,
 127,
 47,
 2,
 800,
 191166,
 5,
 5,
 6,
 8,
 5,
 2,
 4,
 5,
 100,
 350,
 21,
 6,
 20,
 16,
 53,
 12,
 5,
 0,
 745,
 10,
 3,
 8,
 63,
 17,
 14,
 800,
 15,
 37,
 85,
 1,
 77000,
 112,
 71,
 130,
 65,
 220,
 160,
 3,
 130,
 4,
 2,
 102,
 7,
 3,
 7,
 3,
 6,
 13,
 416,
 12,
 10,
 3,
 1,
 49,
 25,
 226,
 50,
 4,
 377,
 45,
 163,
 205,
 2,
 4,
 76,
 20,
 2,
 9,
 380,
 107,
 3,
 310,
 77,
 149,
 120,
 2,
 5,
 191166,
 66,
 20,
 120,
 30,
 315,
 127,
 232,
 263,
 47,
 4,
 70,
 180,
 107,
 150,
 9,
 11,
 17,
 2,
 225,
 101,
 40,
 13,
 30,
 260,
 25,
 152,
 20232,
 30,
 100,
 388,
 74,
 903,
 745,
 10,
 155,
 14,
 2,
 415,
 12,
 30,
 10,
 7,
 85,
 4,
 12,
 8,
 30,
 2,
 3,
 5,
 55,
 70,
 3,
 1,
 191166,
 13,
 253,
 4,
 1250,
 2,
 220,
 9,
 136,
 19,
 34,
 1,
 191166,
 1,
 7,
 24,
 1,
 67,
 ...]

In [8]:
# Añadimos nuestra pandas series al datast
df['Location_100']= rest_100

In [9]:
# Distancia 1.000 
rest_1000 = []
distance = 1000
for i in range(len(df)):
    long = df['geometry'][i]['coordinates'][0]
    lat = df['geometry'][i]['coordinates'][1]
    result = db.location.find(geoQueryNear('geometry',long, lat, distance), projection={'employees': 1, 'name':1, '_id':0})
    total = pd.DataFrame(list(result))
    total_emp = total['employees'].sum()
    rest_1000.append(total_emp)

In [10]:
# Añadimos al datast
df['Location_1000']= rest_1000

In [11]:
# Distancia 10.000
rest_10000 = []
distance = 10000
for i in range(len(df)):
    long = df['geometry'][i]['coordinates'][0]
    lat = df['geometry'][i]['coordinates'][1]
    result = db.location.find(geoQueryNear('geometry',long, lat, distance), projection={'employees': 1, 'name':1, '_id':0})
    total = pd.DataFrame(list(result))
    total_emp = total['employees'].sum()
    rest_10000.append(total_emp)

In [12]:
#Añadimos al dataset
df['Location_10000']= rest_10000

In [13]:
# Ya tenemos el DataFrame con los datos de cada empresa.
df.head()

,employees,geometry,name,Location_100,Location_1000,Location_10000
0,600,"{'coordinates': [-121.904945, 37.692934]}",AdventNet,2200,2732,4123
1,47,"{'coordinates': [-122.333253, 47.603122]}",Wetpaint,352,1722,4904
2,1600,"{'coordinates': [-121.904945, 37.692934]}",Zoho,2200,2732,4123
3,60,"{'coordinates': [-122.394523, 37.764726]}",Digg,60,763,22265
4,18,"{'coordinates': [-118.393064, 34.090368]}",Geni,18,18,27719

#### Tableau
Vamos a incluir dos columnas con los valores de latitud y longitud en el dataframe para poder operar con ellas en Tableau.

In [14]:
# Datos de longitud
a= []
for i in range(len(df)):
    long = df['geometry'][i]['coordinates'][0]
    a.append(long)

In [15]:
# Datos de latitud
b= []
for i in range(len(df)):
    lat = df['geometry'][i]['coordinates'][1]
    b.append(lat)

In [16]:
df['longitude']= a
df['latitude']= b

In [17]:
#Decidimos no eliminar la columna geometry. 
df.head()

,employees,geometry,name,Location_100,Location_1000,Location_10000,longitude,latitude
0,600,"{'coordinates': [-121.904945, 37.692934]}",AdventNet,2200,2732,4123,-121.904945,37.692934
1,47,"{'coordinates': [-122.333253, 47.603122]}",Wetpaint,352,1722,4904,-122.333253,47.603122
2,1600,"{'coordinates': [-121.904945, 37.692934]}",Zoho,2200,2732,4123,-121.904945,37.692934
3,60,"{'coordinates': [-122.394523, 37.764726]}",Digg,60,763,22265,-122.394523,37.764726
4,18,"{'coordinates': [-118.393064, 34.090368]}",Geni,18,18,27719,-118.393064,34.090368

In [18]:
#Guardamos el dataset como json para Tableau
with open('companies_location5.json', 'w')  as f:
   for i, e in df.iterrows():
       f.write(e.to_json()+'\n')

#### Enlace a Tableau
https://public.tableau.com/profile/miriam2134#!/vizhome/Lab-Mongo-Geospacial/r100