#### 1. Import pandas library

In [1]:
import pandas as pd
print("Pandas version: "+str(pd.__version__))

Pandas version: 0.23.4

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
print("PymySQL version: "+str(pymysql.__version__))
import sqlalchemy
print("SQLAlchemy version: "+str(sqlalchemy.__version__))

PymySQL version: 0.9.2
SQLAlchemy version: 1.2.12

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
%%time
engine = sqlalchemy.create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')

#### 4. Import the users table

In [4]:
%%time
users=pd.read_sql_query('SELECT * FROM stats.users', engine)

#### 5. Rename Id column to userId

In [5]:
%%time
indcounter=-1 # Index counter
for item in (users.columns).tolist():
    indcounter=indcounter+1
    if item.lower()=='id':
        ind0=indcounter
        
print("Column name for index "+str(ind0)+" >>  "+users.columns[ind0])
print("")
print("Renaming the column")
cl=users.columns.tolist()
cl[ind0]='userId'
users.columns=cl
print("")
print("Final column name >>  "+users.columns[ind0])

Column name for index 0 >>  Id

Renaming the column

Final column name >>  userId

#### 6. Import the posts table.

In [6]:
%%time
posts=pd.read_sql_query('SELECT * FROM stats.posts', engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [7]:
%%time
indcounter=-1 # Index counter
for item in (posts.columns).tolist():
    indcounter=indcounter+1
    if item.lower()=='id':
        ind0=indcounter
    elif item.lower()=='owneruserid':
        ind1=indcounter
        
print("Column name for index "+str(ind0)+" >>  "+posts.columns[ind0])
print("Column name for index "+str(ind1)+" >>  "+posts.columns[ind1])
print("")
print("Renaming the column")
cl=posts.columns.tolist()
cl[ind0]='postId'
cl[ind1]='userId'
posts.columns=cl
print("")
print("Final column name >>  "+posts.columns[ind0])
print("Final column name >>  "+posts.columns[ind1])

Column name for index 0 >>  Id
Column name for index 7 >>  OwnerUserId

Renaming the column

Final column name >>  postId
Final column name >>  userId

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [8]:
%%time
users_new=users[['userId','Reputation','Views','UpVotes','DownVotes']]
posts_new=posts[['postId','Score','userId','ViewCount','CommentCount']]

CPU times: user 3.56 ms, sys: 505 µs, total: 4.07 ms
Wall time: 4.87 ms

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [9]:
%%time
user_post=pd.merge(users_new,posts_new,on='userId')
display(user_post.head(10))

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
5,-1,1,0,5007,1920,9857,0,NaN,0
6,-1,1,0,5007,1920,9858,0,NaN,0
7,-1,1,0,5007,1920,9860,0,NaN,0
8,-1,1,0,5007,1920,10130,0,NaN,0
9,-1,1,0,5007,1920,10131,0,NaN,0

CPU times: user 55.7 ms, sys: 3.2 ms, total: 58.9 ms
Wall time: 59.1 ms

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [10]:
%%time
null_values=user_post.isnull().sum()
print(" >> Null values for user_post data frame")
display(null_values)

 >> Null values for user_post data frame

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       48396
CommentCount        0
dtype: int64

CPU times: user 23.3 ms, sys: 3.44 ms, total: 26.7 ms
Wall time: 24.8 ms

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [11]:
%%time
# I am going to clean the missiong values (rows) because I consider ViewCount Attribute could be 
# affected by adding 0 to NULL registers
final_user_post=user_post.dropna(axis=1)
print("")
print(" >> Displaying the first 10 rows")
display(final_user_post.head(10))

 >> Displaying the first 10 rows

   userId  Reputation  Views  UpVotes  DownVotes  postId  Score  CommentCount
0      -1           1      0     5007       1920    2175      0             0
1      -1           1      0     5007       1920    8576      0             0
2      -1           1      0     5007       1920    8578      0             0
3      -1           1      0     5007       1920    8981      0             0
4      -1           1      0     5007       1920    8982      0             0
5      -1           1      0     5007       1920    9857      0             0
6      -1           1      0     5007       1920    9858      0             0
7      -1           1      0     5007       1920    9860      0             0
8      -1           1      0     5007       1920   10130      0             0
9      -1           1      0     5007       1920   10131      0             0

CPU times: user 28 ms, sys: 8.17 ms, total: 36.2 ms
Wall time: 34.5 ms

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [12]:
%%time
display(final_user_post.dtypes)
print("Changin Reputation type to float32")
print("Should be enough precission for a variable that could take one or two decimals max")
print("")
print("Changin Score type to float32")
print("Should be enough precission for a variable that could take one or two decimals max")
final_user_post['Reputation'] = final_user_post['Reputation'].astype('float32')
final_user_post['Score'] = final_user_post['Score'].astype('float32')
display(final_user_post.dtypes)

userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
CommentCount    int64
dtype: object

Changin Reputation type to float32
Should be enough precission for a variable that could take one or two decimals max

Changin Score type to float32
Should be enough precission for a variable that could take one or two decimals max

/home/ivan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/ivan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

userId            int64
Reputation      float32
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score           float32
CommentCount      int64
dtype: object

CPU times: user 68.5 ms, sys: 7.42 ms, total: 75.9 ms
Wall time: 73.7 ms

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [21]:
%%time
usdesc=user_post.describe()
display(usdesc)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
count,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,90584.000000,42188.000000,90584.000000
mean,16546.764727,6282.395412,1034.245176,734.315718,33.273249,56539.080522,2.780767,556.656158,1.894650
std,15273.367108,15102.268670,2880.074012,2050.869327,134.936435,33840.307529,4.948922,2356.930779,2.638704
min,-1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,-19.000000,1.000000,0.000000
25%,3437.000000,60.000000,5.000000,1.000000,0.000000,26051.750000,1.000000,53.000000,0.000000
50%,11032.000000,396.000000,45.000000,22.000000,0.000000,57225.500000,2.000000,126.000000,1.000000
75%,27700.000000,4460.000000,514.250000,283.000000,8.000000,86145.250000,3.000000,367.000000,3.000000
max,55746.000000,87393.000000,20932.000000,11442.000000,1920.000000,115378.000000,192.000000,175495.000000,45.000000

CPU times: user 71.1 ms, sys: 40 µs, total: 71.1 ms
Wall time: 69.8 ms

In [56]:
# Obtaining thee 75%
listcol=usdesc.columns.tolist()
listof75=usdesc.ix[usdesc.index.tolist()[-2]]
# Everything over 1.5 times the 75% Percentile will be considered as outliers  
# for all columns excep userId and postId columns
conditional=(user_post[listcol[1]]>1.5*listof75[1]) | (user_post[listcol[2]]>1.5*listof75[2]) | (user_post[listcol[3]]>1.5*listof75[3]) | (user_post[listcol[4]]>1.5*listof75[4]) | (user_post[listcol[6]]>1.5*listof75[6]) | (user_post[listcol[7]]>1.5*listof75[7]) | (user_post[listcol[8]]>1.5*listof75[8])
counter=0
for i in range(len(listcol)):
    if i==0 or i==5:
        # UserId and PostId columns
        pass
    else:
        counter=counter+1
        if counter==1:
            outliers=user_post[user_post[listcol[i]]>1.5*listof75[i]]
        else:
            outliersA=user_post[user_post[listcol[i]]>1.5*listof75[i]]
            outliers=pd.concat((outliers,outliersA),axis=1)
outliers=user_post[conditional]

/home/ivan/.local/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

In [58]:
# Saving outliers to outtliers.csv
outliers.to_csv('outliers.csv',sep=';')

____