#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql
import sqlalchemy

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
from sqlalchemy import create_engine

#### 4. Import the users table

In [4]:
engine= create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')

#### 5. Rename Id column to userId

In [5]:
users = pd.read_sql_query('SELECT * FROM stats.users', engine)
users.columns = ['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl']
users

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None
5,6,457,2010-07-19 19:04:07,Harlan,2014-08-07 19:49:44,http://www.harlan.harris.name,District of Columbia,<ul>\n<li>PhD in CS/AI/Machine Learning/Cognit...,114,47,0,46050,41.0,None
6,7,429,2010-07-19 19:04:37,Vince,2014-09-10 21:14:12,http://bioinformatics.ucdavis.edu,"Davis, CA",I'm a recent graduate of UC Davis in Economics...,56,20,0,49514,28.0,None
7,8,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,http://www.mas.ncl.ac.uk/~ncsg3/,"Newcastle, United Kingdom",<p>I'm a statistics lecturer at Newcastle Univ...,1089,604,25,70002,36.0,None
8,10,121,2010-07-19 19:05:40,Pierre,2014-07-28 18:15:02,http://plindenbaum.blogspot.com,France,Bioinformatician\\nVirology\\nGenetics\\nBiolo...,20,2,0,23234,44.0,None
9,11,136,2010-07-19 19:06:02,wahalulu,2014-07-23 21:28:18,http://www.linkedin.com/in/marckvaisman,"Washington, DC","<p>data_stuff &lt;- paste('data', c('scientist...",10,10,0,47893,40.0,None
10,12,101,2010-07-19 19:06:34,Jin,2014-09-09 20:26:03,http://www.8164.org,"Raleigh, NC",<p>I design stuff for Stack Exchange. Also a p...,10,5,0,21721,38.0,None
11,13,817,2010-07-19 19:06:49,Sharpie,2014-08-14 17:28:14,http://www.sharpsteen.net,United States,Undergraduate studying Environmental Engineeri...,178,44,1,46029,28.0,None
12,15,11,2010-07-19 19:07:32,hannes.koller,2010-08-24 14:23:18,http://soma.denkt.org,"Vienna, Austria",None,8,0,0,189902,35.0,None
13,16,101,2010-07-19 19:08:13,slashnick,2010-08-19 20:40:59,None,"London, United Kingdom",None,4,7,0,10996,31.0,None
14,17,345,2010-07-19 19:08:28,Random,2010-09-10 07:34:36,None,None,None,14,13,1,509454,NaN,None
15,18,128,2010-07-19 19:08:29,grokus,2012-08-09 15:02:00,http://wikipedia.org,United States,<p>Software engineer.</p>\n,8,16,0,69872,44.0,None
16,19,101,2010-07-19 19:08:45,Noah Snyder,2012-06-17 15:53:43,http://sbseminar.wordpress.com,"New York, NY",<p>I'm an assistant professor in mathematics a...,13,2,0,501919,34.0,None
17,21,101,2010-07-19 19:08:56,Waleed Al-Balooshi,2011-09-26 02:28:45,None,Michigan,None,6,0,0,40640,33.0,None
18,22,591,2010-07-19 19:09:00,radek,2014-09-11 15:21:01,None,"Berne, Switzerland",<p>Researcher in spatial epidemiology &amp; GI...,90,693,6,124416,NaN,None
19,23,308,2010-07-19 19:09:16,Jay Stevens,2014-08-11 19:51:32,http://www.centerlinescores.com,None,<p>I design and build Grant and Program manage...,52,34,1,21565,46.0,None
20,24,344,2010-07-19 19:09:32,A Lion,2011-12-06 04:21:56,None,None,None,48,36,1,85249,NaN,None
21,25,4968,2010-07-19 19:09:32,Harvey Motulsky,2014-09-13 21:51:42,http://www.graphpad.com,Santa Monica CA,"<p>I am the founder and CEO of <a href=""http:/...",641,328,23,504968,62.0,None
22,26,3150,2010-07-19 19:09:39,JMS,2014-09-13 04:03:25,None,None,None,257,138,7,134002,NaN,None
23,27,101,2010-07-19 19:09:41,balpha,2014-04-14 14:57:17,http://balpha.de/,"Berlin, Germany",<p>My name is Benjamin Dumke-von der Ehe. I am...,10,2,0,40051,34.0,None
24,29,2250,2010-07-19 19:09:42,JD Long,2014-08-11 19:14:03,http://cerebralmastication.com,"Chicago, IL",I'm a data guy not a programmer. But sometimes...,318,28,1,17035,42.0,None
25,30,2185,2010-07-19 19:10:15,gappy,2014-08-27 20:06:28,http://www.twitter.com/gappy3000,"New York, NY",<p>Interested primarily in econometric analysi...,312,40,3,48399,NaN,None
26,33,221,2010-07-19 19:11:08,James Roth,2014-09-08 21:15:20,None,None,None,11,2,0,137440,NaN,None
27,34,185,2010-07-19 19:11:11,Christopher D. Long,2014-09-13 00:02:35,http://angrystatistician.blogspot.com,"Versailles, KY",<p>Consulting analyst for the San Diego Padres...,27,23,0,509455,NaN,http://i.stack.imgur.com/km1pr.jpg
28,35,101,2010-07-19 19:11:38,adi92,2014-08-13 06:05:38,http://www.contrib.andrew.cmu.edu/~amukherj/,"Pittsburgh, PA",None,4,9,0,13043,26.0,None
29,36,1570,2010-07-19 19:11:52,Stephen Turner,2014-08-29 15:17:07,http://gettinggeneticsdone.blogspot.com/,"Nashville, TN",<p>I'm finishing up my Ph.D. in Human Genetics...,173,26,1,330276,31.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40295,55718,6,2014-09-13 07:12:49,Amena,2014-09-13 07:12:49,None,None,None,0,0,0,5024818,NaN,None
40296,55719,1,2014-09-13 07:19:09,OGUNNUSI OLUWATOBI,2014-09-13 08:03:19,None,None,None,1,0,0,5024833,NaN,None
40297,55720,1,2014-09-13 08:00:08,Rebecca,2014-09-13 08:00:08,None,None,None,0,0,0,5024897,NaN,https://www.gravatar.com/avatar/2bc72d263cc5a8...
40298,55721,101,2014-09-13 08:15:38,Lotte Laat,2014-09-13 08:15:38,None,"Tilburg, Netherlands","<p>I like maths, swimming, food and penguins!<...",0,1,0,1402294,23.0,https://www.gravatar.com/avatar/a52832f3202953...
40299,55722,1,2014-09-13 08:32:22,WojciechF,2014-09-13 08:32:22,http://about.me/wojciechfrancuzik,None,"<p>MD mesmerized by data science, TeX user, R ...",0,0,0,3943551,NaN,https://www.gravatar.com/avatar/285ba1e160c296...
40300,55723,1,2014-09-13 09:29:38,Davidson Salvia Jr.,2014-09-13 09:29:38,None,None,None,0,0,0,5025125,NaN,http://graph.facebook.com/100000041001887/pict...
40301,55724,16,2014-09-13 09:50:11,ouroboros,2014-09-13 10:05:17,None,None,<p>I'm a self-taught programmer and linux powe...,1,0,0,3620179,NaN,https://www.gravatar.com/avatar/1f8dbbc900087e...
40302,55725,1,2014-09-13 09:53:01,Jatin Baveja,2014-09-13 15:25:42,None,None,None,0,0,0,5025186,NaN,https://lh3.googleusercontent.com/-8iERz9S6Zr8...
40303,55726,1,2014-09-13 09:54:27,SuPakarn Junfang,2014-09-13 13:10:43,None,None,None,0,0,0,5025192,NaN,https://lh6.googleusercontent.com/--7hwjXqt-Zs...
40304,55727,1,2014-09-13 10:03:06,biggvsdiccvs,2014-09-13 10:03:06,None,None,None,0,0,0,3293263,NaN,https://www.gravatar.com/avatar/c9e31787de1366...
40305,55728,1,2014-09-13 10:48:35,user56299,2014-09-13 10:48:35,None,None,None,0,0,0,3808774,NaN,None
40306,55729,16,2014-09-13 11:04:54,Achim Zeileis,2014-09-13 12:15:21,None,None,None,1,0,0,5025362,NaN,None
40307,55730,1,2014-09-13 12:01:38,quants_mum,2014-09-13 12:01:38,None,None,None,0,0,0,5025477,NaN,None
40308,55731,1,2014-09-13 15:23:34,Kiran BM,2014-09-13 20:51:55,None,None,None,0,0,0,5025991,NaN,None
40309,55732,101,2014-09-13 15:31:37,Szilárd Pfeiffer,2014-09-13 15:31:37,http://www.pfeifferszilard.hu,Hungary,None,0,0,0,1447761,36.0,https://www.gravatar.com/avatar/70c18b82b058c1...
40310,55733,6,2014-09-13 15:51:18,Pax,2014-09-13 23:57:22,None,None,None,1,0,0,5026082,NaN,https://www.gravatar.com/avatar/d9b1e7660eb8ed...
40311,55734,1,2014-09-13 15:56:55,jalen,2014-09-13 15:56:55,None,None,None,0,0,0,5026094,NaN,None
40312,55735,1,2014-09-13 16:21:29,Mukund,2014-09-13 16:21:29,None,None,None,0,0,0,3335078,NaN,https://www.gravatar.com/avatar/072b4df5e16f4e...
40313,55736,1,2014-09-13 16:29:11,liszt,2014-09-13 16:29:11,None,None,None,0,0,0,510194,NaN,http://i.stack.imgur.com/AvRzI.jpg?s=128&g=1
40314,55737,1,2014-09-13 17:53:27,oolusola,2014-09-13 17:53:27,None,None,None,0,0,0,5026427,NaN,None
40315,55738,11,2014-09-13 18:06:50,guest,2014-09-14 01:34:01,None,None,None,0,0,0,5026468,NaN,None
40316,55739,1,2014-09-13 19:06:17,kpivert,2014-09-13 19:06:17,None,None,None,0,0,0,5026613,NaN,https://www.gravatar.com/avatar/93313f90fbaf1e...
40317,55740,1,2014-09-13 19:12:19,Nikkolasg,2014-09-13 19:46:29,None,None,<p>Be the change that you want to see in the w...,0,0,0,1239737,NaN,https://www.gravatar.com/avatar/cbae78493ed218...
40318,55741,101,2014-09-13 20:19:48,Jutschge,2014-09-13 20:19:48,None,Switzerland,None,0,1,0,3142440,NaN,https://www.gravatar.com/avatar/89f8e6f01faafa...
40319,55742,6,2014-09-13 20:36:55,Sayan Ghosh,2014-09-13 22:04:00,None,None,None,0,0,0,5026843,NaN,None
40320,55743,1,2014-09-13 21:03:50,AussieMeg,2014-09-13 21:18:52,None,None,None,0,0,0,5026902,NaN,http://graph.facebook.com/665821703/picture?ty...
40321,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,0,5026998,NaN,None
40322,55745,101,2014-09-13 23:45:27,tronbabylove,2014-09-13 23:45:27,None,United States,None,0,0,0,481766,NaN,https://www.gravatar.com/avatar/faa7a3fdbd8308...
40323,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...
40324,55747,1,2014-09-14 01:01:44,Shivam Agrawal,2014-09-14 01:19:04,None,India,<p>Maths Enthusiast </p>\n,0,0,0,5027354,NaN,https://lh4.googleusercontent.com/-ZsXhwVaFmiY...

#### 6. Import the posts table.

In [6]:
posts = pd.read_sql_query('SELECT * FROM stats.posts', engine)
posts

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
5,6,1,NaN,2010-07-19 19:14:44,152,29229.0,"<p>Last year, I read a blog post from <a href=...",5.0,2014-05-29 03:54:31,The Two Cultures: statistics vs. machine learn...,...,15.0,5,137.0,22047.0,2013-06-07 06:38:10,2010-08-09 13:05:50,NaN,NaT,None,None
6,7,1,18.0,2010-07-19 19:15:59,76,5808.0,<p>I've been working on a new method for analy...,38.0,2013-12-28 06:53:10,Locating freely available data samples,...,24.0,3,79.0,253.0,2013-09-26 21:50:36,2010-07-20 20:50:48,NaN,NaT,None,None
7,8,1,NaN,2010-07-19 19:16:21,0,288.0,"<p>Sorry, but the emptyness was a bit overwhel...",37.0,2010-10-18 07:57:31,So how many staticians *does* it take to screw...,...,1.0,2,NaN,449.0,2010-10-18 07:57:31,NaT,NaN,2010-07-19 20:19:46,None,None
8,9,2,NaN,2010-07-19 19:16:27,13,NaN,"<p><a href=""http://incanter.org/"">Incanter</a>...",50.0,2010-07-19 19:16:27,None,...,NaN,3,NaN,NaN,NaT,2010-07-19 19:16:27,3.0,NaT,None,None
9,10,1,1887.0,2010-07-19 19:17:47,23,21925.0,<p>Many studies in the social sciences use Lik...,24.0,2012-10-23 17:33:41,Under what conditions should Likert scales be ...,...,4.0,4,12.0,919.0,2011-03-30 15:31:46,NaT,NaN,NaT,None,None
10,11,1,1201.0,2010-07-19 19:18:30,2,224.0,"<p>Is there a good, modern treatment covering ...",34.0,2010-08-03 21:50:09,Multivariate Interpolation Approaches,...,1.0,2,1.0,34.0,2010-07-28 07:58:52,NaT,NaN,NaT,None,None
11,12,2,NaN,2010-07-19 19:18:41,20,NaN,"<p>See my response to <a href=""http://stackove...",5.0,2010-07-19 19:18:41,None,...,NaN,1,NaN,NaN,NaT,2011-08-12 20:29:33,7.0,NaT,None,None
12,13,2,NaN,2010-07-19 19:18:56,14,NaN,<p>Machine Learning seems to have its basis in...,23.0,2010-07-19 19:18:56,None,...,NaN,4,NaN,NaN,NaT,NaT,6.0,NaT,None,None
13,14,2,NaN,2010-07-19 19:19:03,5,NaN,<p>I second that Jay. Why is R valuable? Here'...,36.0,2010-07-19 19:19:03,None,...,NaN,1,NaN,NaN,NaT,2010-07-19 19:19:03,3.0,NaT,None,None
14,15,2,NaN,2010-07-19 19:19:46,13,NaN,<p>John Cook gives some interesting recommenda...,6.0,2010-07-19 19:19:46,None,...,NaN,0,NaN,NaN,NaT,NaT,1.0,NaT,None,None
15,16,2,NaN,2010-07-19 19:22:31,16,NaN,<p>Two projects spring to mind:</p>\n\n<ol>\n<...,8.0,2010-07-19 20:43:02,None,...,NaN,3,NaN,8.0,2010-07-19 20:43:02,2010-07-19 19:22:31,3.0,NaT,None,None
16,17,1,29.0,2010-07-19 19:24:12,9,1261.0,<p>I have four competing models which I use to...,NaN,2012-01-22 23:34:51,How can I adapt ANOVA for binary data?,...,1.0,0,1.0,7972.0,2012-01-22 23:34:51,NaT,NaN,NaT,user28,None
17,18,2,NaN,2010-07-19 19:24:18,31,NaN,<p>Also see the UCI machine learning Data Repo...,36.0,2010-07-19 19:24:18,None,...,NaN,1,NaN,NaN,NaT,2011-08-12 20:31:32,7.0,NaT,None,None
18,19,2,NaN,2010-07-19 19:24:21,12,NaN,"<p><a href=""http://www.gapminder.org/data/"">Ga...",55.0,2010-07-19 19:24:21,None,...,NaN,0,NaN,NaN,NaT,2011-08-12 20:29:45,7.0,NaT,None,None
19,20,2,NaN,2010-07-19 19:24:35,3,NaN,<p>The assumption of normality assumes your da...,37.0,2010-07-19 19:24:35,None,...,NaN,2,NaN,NaN,NaT,NaT,2.0,NaT,None,None
20,21,1,NaN,2010-07-19 19:24:36,4,184.0,<p>What are some of the ways to forecast demog...,59.0,2010-09-30 21:14:45,Forecasting demographic census,...,1.0,1,1.0,930.0,2010-09-30 21:14:45,NaT,NaN,NaT,None,None
21,22,1,NaN,2010-07-19 19:25:39,102,21916.0,<p>How would you describe in plain English the...,66.0,2014-06-05 02:06:32,Bayesian and frequentist reasoning in plain En...,...,15.0,1,67.0,930.0,2011-10-04 07:05:14,NaT,NaN,NaT,None,None
22,23,1,91.0,2010-07-19 19:26:04,10,7694.0,<p>How can I find the PDF (probability density...,69.0,2010-07-20 08:52:27,Finding the PDF given the CDF,...,2.0,1,2.0,NaN,NaT,NaT,NaN,NaT,None,None
23,24,2,NaN,2010-07-19 19:26:13,17,NaN,<p>For doing a variety of MCMC tasks in Python...,61.0,2010-07-19 19:26:13,None,...,NaN,0,NaN,NaN,NaT,2010-07-19 19:26:13,3.0,NaT,None,None
24,25,1,32.0,2010-07-19 19:27:13,7,2095.0,<p>What modern tools (Windows-based) do you su...,69.0,2014-08-13 20:29:48,Tools for modeling financial time series,...,7.0,4,5.0,69.0,2010-07-26 23:38:29,2010-07-26 23:38:29,NaN,NaT,None,None
25,26,1,61.0,2010-07-19 19:27:43,18,3476.0,"<p>What is a standard deviation, how is it cal...",75.0,2013-07-30 10:19:04,What is a standard deviation?,...,8.0,14,7.0,22047.0,2013-07-30 10:19:04,NaT,NaN,NaT,None,None
26,27,2,NaN,2010-07-19 19:28:12,4,NaN,"<p><a href=""http://mathforum.org/workshops/sum...",68.0,2010-07-19 19:28:12,None,...,NaN,0,NaN,NaN,NaT,2011-08-12 20:29:55,7.0,NaT,None,None
27,28,2,NaN,2010-07-19 19:28:12,6,NaN,"<p><a href=""http://www.gnu.org/software/gsl/"" ...",NaN,2010-07-19 19:28:12,None,...,NaN,0,NaN,NaN,NaT,2010-07-19 19:28:12,3.0,NaT,user28,None
28,29,2,NaN,2010-07-19 19:28:15,5,NaN,<p>Contingency table (chi-square). Also Logist...,36.0,2010-07-19 19:28:15,None,...,NaN,0,NaN,NaN,NaT,NaT,17.0,NaT,None,None
29,30,1,55.0,2010-07-19 19:28:34,7,705.0,<p>Which methods are used for testing random v...,69.0,2011-05-12 18:38:27,Testing random variate generation algorithms,...,8.0,2,7.0,919.0,2010-08-25 14:12:54,NaT,NaN,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91946,115346,2,NaN,2014-09-13 13:15:18,0,NaN,"<p>First, let's try to simulate some data with...",42434.0,2014-09-13 13:15:18,None,...,NaN,0,NaN,NaN,NaT,NaT,113980.0,NaT,None,None
91947,115348,1,NaN,2014-09-13 15:17:03,0,18.0,"<p>In the game of Bridge, 52 cards are distrub...",55564.0,2014-09-13 16:25:32,Please help me interpret this goodness of fit ...,...,1.0,3,NaN,55564.0,2014-09-13 15:41:36,NaT,NaN,NaT,None,None
91948,115350,1,NaN,2014-09-13 15:26:01,0,3.0,<p>How do we specify negative costs in rpart? ...,55731.0,2014-09-13 15:26:01,Specifying negative costs (benefits) in rpart'...,...,0.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91949,115351,1,NaN,2014-09-13 15:32:18,1,9.0,<p>If one is conducting a survey in which all ...,7331.0,2014-09-13 15:43:23,Sampling frame of a voluntary survey,...,0.0,0,NaN,7290.0,2014-09-13 15:43:23,NaT,NaN,NaT,None,None
91950,115352,1,NaN,2014-09-13 15:56:55,0,16.0,"<p>For example, I was looking at <a href=""http...",55734.0,2014-09-13 16:15:30,Is there a way to estimate the distribution fr...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91951,115353,2,NaN,2014-09-13 16:15:30,0,NaN,<p>I have strong reservations about whether me...,7290.0,2014-09-13 16:15:30,None,...,NaN,0,NaN,NaN,NaT,NaT,115352.0,NaT,None,None
91952,115354,2,NaN,2014-09-13 16:25:32,2,NaN,"<p>If all the null hypotheses were true, 5% of...",805.0,2014-09-13 16:25:32,None,...,NaN,0,NaN,NaN,NaT,NaT,115348.0,NaT,None,None
91953,115355,1,NaN,2014-09-13 16:30:00,3,49.0,"<p>I have a methodological question, and there...",35413.0,2014-09-13 18:53:58,Adjust for everything you have in propensity s...,...,2.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91954,115356,1,NaN,2014-09-13 16:34:58,1,15.0,<p>I'm a beginner in statistics and I have to ...,55733.0,2014-09-13 20:45:45,"How to interpret glmer results (variance, corr...",...,0.0,0,NaN,55733.0,2014-09-13 20:45:45,NaT,NaN,NaT,None,None
91955,115357,2,NaN,2014-09-13 17:07:54,1,NaN,<p>I've personally been asking this question f...,44142.0,2014-09-13 17:07:54,None,...,NaN,0,NaN,NaN,NaT,NaT,115355.0,NaT,None,None
91956,115358,1,NaN,2014-09-13 17:29:23,2,15.0,<p>Are there any formulae for the quantiles of...,1569.0,2014-09-14 02:54:13,Quantiles of a compound gamma/negative binomia...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91957,115360,1,NaN,2014-09-13 18:06:50,2,40.0,<p>Is Student's t test a Wald test?</p>\n\n<p>...,55738.0,2014-09-13 18:06:50,Is Student's t test a Wald test?,...,0.0,4,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91958,115361,1,NaN,2014-09-13 18:36:36,0,12.0,"<p>Given the biometric match scores, I am requ...",55383.0,2014-09-13 18:36:36,Plotting of density estimates in matlab,...,0.0,1,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91959,115362,2,NaN,2014-09-13 18:44:31,2,NaN,"<p>Theoretical insight, institutional knowledg...",7071.0,2014-09-13 18:53:58,None,...,NaN,0,NaN,7071.0,2014-09-13 18:53:58,NaT,115355.0,NaT,None,None
91960,115363,2,NaN,2014-09-13 19:37:20,0,NaN,<p>I think I got a very simple answer.</p>\n\n...,2676.0,2014-09-13 19:37:20,None,...,NaN,0,NaN,NaN,NaT,NaT,115279.0,NaT,None,None
91961,115364,1,NaN,2014-09-13 19:50:17,0,11.0,<p>I'm trying to find the most similar sample ...,52858.0,2014-09-13 21:30:41,In search of a proper similarity function,...,0.0,3,NaN,52858.0,2014-09-13 21:30:41,NaT,NaN,NaT,None,None
91962,115365,2,NaN,2014-09-13 20:13:11,-1,NaN,<blockquote>\n <p>Is there some approach to u...,28236.0,2014-09-13 20:13:11,None,...,NaN,1,NaN,NaN,NaT,NaT,108430.0,NaT,None,None
91963,115366,1,NaN,2014-09-13 20:36:55,1,17.0,<p>Does any standard statistical software like...,55742.0,2014-09-13 23:18:30,Missing data analysis software,...,1.0,0,1.0,NaN,NaT,NaT,NaN,NaT,None,None
91964,115367,1,NaN,2014-09-13 20:57:24,1,97.0,<p>Jon and Frank ordered 2 footlong sandwiches...,41961.0,2014-09-14 02:05:41,How to add odds? (or how I got the wrong sandw...,...,3.0,0,NaN,919.0,2014-09-13 21:11:36,NaT,NaN,NaT,None,None
91965,115368,2,NaN,2014-09-13 21:01:39,4,NaN,<p>You need to multiply the probabilities with...,24808.0,2014-09-13 21:01:39,None,...,NaN,0,NaN,NaN,NaT,NaT,115367.0,NaT,None,None
91966,115369,2,NaN,2014-09-13 21:27:49,4,NaN,<p>Line up the four sandwiches in a row where ...,6633.0,2014-09-13 21:27:49,None,...,NaN,0,NaN,NaN,NaT,NaT,115367.0,NaT,None,None
91967,115370,1,NaN,2014-09-13 21:39:30,1,13.0,<p>im analyzing an article for my studies with...,55744.0,2014-09-13 21:39:30,Poisson regression,...,0.0,2,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91968,115371,1,NaN,2014-09-13 21:55:39,0,19.0,<p>I am trying to estimate the school effects ...,35801.0,2014-09-13 23:15:00,Estimation of school effects using xtmixed (in...,...,1.0,0,NaN,35801.0,2014-09-13 22:51:35,NaT,NaN,NaT,None,None
91969,115372,2,NaN,2014-09-13 23:15:00,0,NaN,<p>If prior to running the xtreg command you h...,48579.0,2014-09-13 23:15:00,None,...,NaN,9,NaN,NaN,NaT,NaT,115371.0,NaT,None,None
91970,115373,2,NaN,2014-09-13 23:18:30,0,NaN,"<p>Yes, the <a href=""http://cran.r-project.org...",48579.0,2014-09-13 23:18:30,None,...,NaN,0,NaN,NaN,NaT,NaT,115366.0,NaT,None,None
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,None,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaT,115367.0,NaT,None,None
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,None,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaT,115358.0,NaT,None,None
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,None,...,NaN,0,NaN,NaN,NaT,NaT,115375.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [7]:
posts.columns=['postId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'userId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName']
posts

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None
5,6,1,NaN,2010-07-19 19:14:44,152,29229.0,"<p>Last year, I read a blog post from <a href=...",5.0,2014-05-29 03:54:31,The Two Cultures: statistics vs. machine learn...,...,15.0,5,137.0,22047.0,2013-06-07 06:38:10,2010-08-09 13:05:50,NaN,NaT,None,None
6,7,1,18.0,2010-07-19 19:15:59,76,5808.0,<p>I've been working on a new method for analy...,38.0,2013-12-28 06:53:10,Locating freely available data samples,...,24.0,3,79.0,253.0,2013-09-26 21:50:36,2010-07-20 20:50:48,NaN,NaT,None,None
7,8,1,NaN,2010-07-19 19:16:21,0,288.0,"<p>Sorry, but the emptyness was a bit overwhel...",37.0,2010-10-18 07:57:31,So how many staticians *does* it take to screw...,...,1.0,2,NaN,449.0,2010-10-18 07:57:31,NaT,NaN,2010-07-19 20:19:46,None,None
8,9,2,NaN,2010-07-19 19:16:27,13,NaN,"<p><a href=""http://incanter.org/"">Incanter</a>...",50.0,2010-07-19 19:16:27,None,...,NaN,3,NaN,NaN,NaT,2010-07-19 19:16:27,3.0,NaT,None,None
9,10,1,1887.0,2010-07-19 19:17:47,23,21925.0,<p>Many studies in the social sciences use Lik...,24.0,2012-10-23 17:33:41,Under what conditions should Likert scales be ...,...,4.0,4,12.0,919.0,2011-03-30 15:31:46,NaT,NaN,NaT,None,None
10,11,1,1201.0,2010-07-19 19:18:30,2,224.0,"<p>Is there a good, modern treatment covering ...",34.0,2010-08-03 21:50:09,Multivariate Interpolation Approaches,...,1.0,2,1.0,34.0,2010-07-28 07:58:52,NaT,NaN,NaT,None,None
11,12,2,NaN,2010-07-19 19:18:41,20,NaN,"<p>See my response to <a href=""http://stackove...",5.0,2010-07-19 19:18:41,None,...,NaN,1,NaN,NaN,NaT,2011-08-12 20:29:33,7.0,NaT,None,None
12,13,2,NaN,2010-07-19 19:18:56,14,NaN,<p>Machine Learning seems to have its basis in...,23.0,2010-07-19 19:18:56,None,...,NaN,4,NaN,NaN,NaT,NaT,6.0,NaT,None,None
13,14,2,NaN,2010-07-19 19:19:03,5,NaN,<p>I second that Jay. Why is R valuable? Here'...,36.0,2010-07-19 19:19:03,None,...,NaN,1,NaN,NaN,NaT,2010-07-19 19:19:03,3.0,NaT,None,None
14,15,2,NaN,2010-07-19 19:19:46,13,NaN,<p>John Cook gives some interesting recommenda...,6.0,2010-07-19 19:19:46,None,...,NaN,0,NaN,NaN,NaT,NaT,1.0,NaT,None,None
15,16,2,NaN,2010-07-19 19:22:31,16,NaN,<p>Two projects spring to mind:</p>\n\n<ol>\n<...,8.0,2010-07-19 20:43:02,None,...,NaN,3,NaN,8.0,2010-07-19 20:43:02,2010-07-19 19:22:31,3.0,NaT,None,None
16,17,1,29.0,2010-07-19 19:24:12,9,1261.0,<p>I have four competing models which I use to...,NaN,2012-01-22 23:34:51,How can I adapt ANOVA for binary data?,...,1.0,0,1.0,7972.0,2012-01-22 23:34:51,NaT,NaN,NaT,user28,None
17,18,2,NaN,2010-07-19 19:24:18,31,NaN,<p>Also see the UCI machine learning Data Repo...,36.0,2010-07-19 19:24:18,None,...,NaN,1,NaN,NaN,NaT,2011-08-12 20:31:32,7.0,NaT,None,None
18,19,2,NaN,2010-07-19 19:24:21,12,NaN,"<p><a href=""http://www.gapminder.org/data/"">Ga...",55.0,2010-07-19 19:24:21,None,...,NaN,0,NaN,NaN,NaT,2011-08-12 20:29:45,7.0,NaT,None,None
19,20,2,NaN,2010-07-19 19:24:35,3,NaN,<p>The assumption of normality assumes your da...,37.0,2010-07-19 19:24:35,None,...,NaN,2,NaN,NaN,NaT,NaT,2.0,NaT,None,None
20,21,1,NaN,2010-07-19 19:24:36,4,184.0,<p>What are some of the ways to forecast demog...,59.0,2010-09-30 21:14:45,Forecasting demographic census,...,1.0,1,1.0,930.0,2010-09-30 21:14:45,NaT,NaN,NaT,None,None
21,22,1,NaN,2010-07-19 19:25:39,102,21916.0,<p>How would you describe in plain English the...,66.0,2014-06-05 02:06:32,Bayesian and frequentist reasoning in plain En...,...,15.0,1,67.0,930.0,2011-10-04 07:05:14,NaT,NaN,NaT,None,None
22,23,1,91.0,2010-07-19 19:26:04,10,7694.0,<p>How can I find the PDF (probability density...,69.0,2010-07-20 08:52:27,Finding the PDF given the CDF,...,2.0,1,2.0,NaN,NaT,NaT,NaN,NaT,None,None
23,24,2,NaN,2010-07-19 19:26:13,17,NaN,<p>For doing a variety of MCMC tasks in Python...,61.0,2010-07-19 19:26:13,None,...,NaN,0,NaN,NaN,NaT,2010-07-19 19:26:13,3.0,NaT,None,None
24,25,1,32.0,2010-07-19 19:27:13,7,2095.0,<p>What modern tools (Windows-based) do you su...,69.0,2014-08-13 20:29:48,Tools for modeling financial time series,...,7.0,4,5.0,69.0,2010-07-26 23:38:29,2010-07-26 23:38:29,NaN,NaT,None,None
25,26,1,61.0,2010-07-19 19:27:43,18,3476.0,"<p>What is a standard deviation, how is it cal...",75.0,2013-07-30 10:19:04,What is a standard deviation?,...,8.0,14,7.0,22047.0,2013-07-30 10:19:04,NaT,NaN,NaT,None,None
26,27,2,NaN,2010-07-19 19:28:12,4,NaN,"<p><a href=""http://mathforum.org/workshops/sum...",68.0,2010-07-19 19:28:12,None,...,NaN,0,NaN,NaN,NaT,2011-08-12 20:29:55,7.0,NaT,None,None
27,28,2,NaN,2010-07-19 19:28:12,6,NaN,"<p><a href=""http://www.gnu.org/software/gsl/"" ...",NaN,2010-07-19 19:28:12,None,...,NaN,0,NaN,NaN,NaT,2010-07-19 19:28:12,3.0,NaT,user28,None
28,29,2,NaN,2010-07-19 19:28:15,5,NaN,<p>Contingency table (chi-square). Also Logist...,36.0,2010-07-19 19:28:15,None,...,NaN,0,NaN,NaN,NaT,NaT,17.0,NaT,None,None
29,30,1,55.0,2010-07-19 19:28:34,7,705.0,<p>Which methods are used for testing random v...,69.0,2011-05-12 18:38:27,Testing random variate generation algorithms,...,8.0,2,7.0,919.0,2010-08-25 14:12:54,NaT,NaN,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91946,115346,2,NaN,2014-09-13 13:15:18,0,NaN,"<p>First, let's try to simulate some data with...",42434.0,2014-09-13 13:15:18,None,...,NaN,0,NaN,NaN,NaT,NaT,113980.0,NaT,None,None
91947,115348,1,NaN,2014-09-13 15:17:03,0,18.0,"<p>In the game of Bridge, 52 cards are distrub...",55564.0,2014-09-13 16:25:32,Please help me interpret this goodness of fit ...,...,1.0,3,NaN,55564.0,2014-09-13 15:41:36,NaT,NaN,NaT,None,None
91948,115350,1,NaN,2014-09-13 15:26:01,0,3.0,<p>How do we specify negative costs in rpart? ...,55731.0,2014-09-13 15:26:01,Specifying negative costs (benefits) in rpart'...,...,0.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91949,115351,1,NaN,2014-09-13 15:32:18,1,9.0,<p>If one is conducting a survey in which all ...,7331.0,2014-09-13 15:43:23,Sampling frame of a voluntary survey,...,0.0,0,NaN,7290.0,2014-09-13 15:43:23,NaT,NaN,NaT,None,None
91950,115352,1,NaN,2014-09-13 15:56:55,0,16.0,"<p>For example, I was looking at <a href=""http...",55734.0,2014-09-13 16:15:30,Is there a way to estimate the distribution fr...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91951,115353,2,NaN,2014-09-13 16:15:30,0,NaN,<p>I have strong reservations about whether me...,7290.0,2014-09-13 16:15:30,None,...,NaN,0,NaN,NaN,NaT,NaT,115352.0,NaT,None,None
91952,115354,2,NaN,2014-09-13 16:25:32,2,NaN,"<p>If all the null hypotheses were true, 5% of...",805.0,2014-09-13 16:25:32,None,...,NaN,0,NaN,NaN,NaT,NaT,115348.0,NaT,None,None
91953,115355,1,NaN,2014-09-13 16:30:00,3,49.0,"<p>I have a methodological question, and there...",35413.0,2014-09-13 18:53:58,Adjust for everything you have in propensity s...,...,2.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91954,115356,1,NaN,2014-09-13 16:34:58,1,15.0,<p>I'm a beginner in statistics and I have to ...,55733.0,2014-09-13 20:45:45,"How to interpret glmer results (variance, corr...",...,0.0,0,NaN,55733.0,2014-09-13 20:45:45,NaT,NaN,NaT,None,None
91955,115357,2,NaN,2014-09-13 17:07:54,1,NaN,<p>I've personally been asking this question f...,44142.0,2014-09-13 17:07:54,None,...,NaN,0,NaN,NaN,NaT,NaT,115355.0,NaT,None,None
91956,115358,1,NaN,2014-09-13 17:29:23,2,15.0,<p>Are there any formulae for the quantiles of...,1569.0,2014-09-14 02:54:13,Quantiles of a compound gamma/negative binomia...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91957,115360,1,NaN,2014-09-13 18:06:50,2,40.0,<p>Is Student's t test a Wald test?</p>\n\n<p>...,55738.0,2014-09-13 18:06:50,Is Student's t test a Wald test?,...,0.0,4,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91958,115361,1,NaN,2014-09-13 18:36:36,0,12.0,"<p>Given the biometric match scores, I am requ...",55383.0,2014-09-13 18:36:36,Plotting of density estimates in matlab,...,0.0,1,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91959,115362,2,NaN,2014-09-13 18:44:31,2,NaN,"<p>Theoretical insight, institutional knowledg...",7071.0,2014-09-13 18:53:58,None,...,NaN,0,NaN,7071.0,2014-09-13 18:53:58,NaT,115355.0,NaT,None,None
91960,115363,2,NaN,2014-09-13 19:37:20,0,NaN,<p>I think I got a very simple answer.</p>\n\n...,2676.0,2014-09-13 19:37:20,None,...,NaN,0,NaN,NaN,NaT,NaT,115279.0,NaT,None,None
91961,115364,1,NaN,2014-09-13 19:50:17,0,11.0,<p>I'm trying to find the most similar sample ...,52858.0,2014-09-13 21:30:41,In search of a proper similarity function,...,0.0,3,NaN,52858.0,2014-09-13 21:30:41,NaT,NaN,NaT,None,None
91962,115365,2,NaN,2014-09-13 20:13:11,-1,NaN,<blockquote>\n <p>Is there some approach to u...,28236.0,2014-09-13 20:13:11,None,...,NaN,1,NaN,NaN,NaT,NaT,108430.0,NaT,None,None
91963,115366,1,NaN,2014-09-13 20:36:55,1,17.0,<p>Does any standard statistical software like...,55742.0,2014-09-13 23:18:30,Missing data analysis software,...,1.0,0,1.0,NaN,NaT,NaT,NaN,NaT,None,None
91964,115367,1,NaN,2014-09-13 20:57:24,1,97.0,<p>Jon and Frank ordered 2 footlong sandwiches...,41961.0,2014-09-14 02:05:41,How to add odds? (or how I got the wrong sandw...,...,3.0,0,NaN,919.0,2014-09-13 21:11:36,NaT,NaN,NaT,None,None
91965,115368,2,NaN,2014-09-13 21:01:39,4,NaN,<p>You need to multiply the probabilities with...,24808.0,2014-09-13 21:01:39,None,...,NaN,0,NaN,NaN,NaT,NaT,115367.0,NaT,None,None
91966,115369,2,NaN,2014-09-13 21:27:49,4,NaN,<p>Line up the four sandwiches in a row where ...,6633.0,2014-09-13 21:27:49,None,...,NaN,0,NaN,NaN,NaT,NaT,115367.0,NaT,None,None
91967,115370,1,NaN,2014-09-13 21:39:30,1,13.0,<p>im analyzing an article for my studies with...,55744.0,2014-09-13 21:39:30,Poisson regression,...,0.0,2,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91968,115371,1,NaN,2014-09-13 21:55:39,0,19.0,<p>I am trying to estimate the school effects ...,35801.0,2014-09-13 23:15:00,Estimation of school effects using xtmixed (in...,...,1.0,0,NaN,35801.0,2014-09-13 22:51:35,NaT,NaN,NaT,None,None
91969,115372,2,NaN,2014-09-13 23:15:00,0,NaN,<p>If prior to running the xtreg command you h...,48579.0,2014-09-13 23:15:00,None,...,NaN,9,NaN,NaN,NaT,NaT,115371.0,NaT,None,None
91970,115373,2,NaN,2014-09-13 23:18:30,0,NaN,"<p>Yes, the <a href=""http://cran.r-project.org...",48579.0,2014-09-13 23:18:30,None,...,NaN,0,NaN,NaN,NaT,NaT,115366.0,NaT,None,None
91971,115374,2,NaN,2014-09-13 23:45:39,2,NaN,"<p>This grew too long for a comment, but I thi...",805.0,2014-09-14 02:05:41,None,...,NaN,2,NaN,805.0,2014-09-14 02:05:41,NaT,115367.0,NaT,None,None
91972,115375,1,NaN,2014-09-13 23:46:05,0,9.0,<p>Assume a classification problem where there...,49365.0,2014-09-14 02:09:23,Detecting a consistent pattern in a dataset vi...,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
91973,115376,1,NaN,2014-09-14 01:27:54,1,5.0,<p>My goal is to create a formula that can giv...,55746.0,2014-09-14 01:40:55,How to project video viewcount based on histor...,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None
91974,115377,2,NaN,2014-09-14 02:03:28,0,NaN,<p>As a practical answer to the real questions...,805.0,2014-09-14 02:54:13,None,...,NaN,0,NaN,805.0,2014-09-14 02:54:13,NaT,115358.0,NaT,None,None
91975,115378,2,NaN,2014-09-14 02:09:23,0,NaN,<p>Decision trees are notoriously <strong>unst...,7250.0,2014-09-14 02:09:23,None,...,NaN,0,NaN,NaN,NaT,NaT,115375.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [8]:
nUsers = users[["userId", "Reputation","Views","UpVotes","DownVotes"]]
nUsers

       userId  Reputation  Views  UpVotes  DownVotes
0          -1           1      0     5007       1920
1           2         101     25        3          0
2           3         101     22       19          0
3           4         101     11        0          0
4           5        6792   1145      662          5
5           6         457    114       47          0
6           7         429     56       20          0
7           8        6764   1089      604         25
8          10         121     20        2          0
9          11         136     10       10          0
10         12         101     10        5          0
11         13         817    178       44          1
12         15          11      8        0          0
13         16         101      4        7          0
14         17         345     14       13          1
15         18         128      8       16          0
16         19         101     13        2          0
17         21         101      6        0          0
18         22         591     90      693          6
19         23         308     52       34          1
20         24         344     48       36          1
21         25        4968    641      328         23
22         26        3150    257      138          7
23         27         101     10        2          0
24         29        2250    318       28          1
25         30        2185    312       40          3
26         33         221     11        2          0
27         34         185     27       23          0
28         35         101      4        9          0
29         36        1570    173       26          1
...       ...         ...    ...      ...        ...
40295   55718           6      0        0          0
40296   55719           1      1        0          0
40297   55720           1      0        0          0
40298   55721         101      0        1          0
40299   55722           1      0        0          0
40300   55723           1      0        0          0
40301   55724          16      1        0          0
40302   55725           1      0        0          0
40303   55726           1      0        0          0
40304   55727           1      0        0          0
40305   55728           1      0        0          0
40306   55729          16      1        0          0
40307   55730           1      0        0          0
40308   55731           1      0        0          0
40309   55732         101      0        0          0
40310   55733           6      1        0          0
40311   55734           1      0        0          0
40312   55735           1      0        0          0
40313   55736           1      0        0          0
40314   55737           1      0        0          0
40315   55738          11      0        0          0
40316   55739           1      0        0          0
40317   55740           1      0        0          0
40318   55741         101      0        1          0
40319   55742           6      0        0          0
40320   55743           1      0        0          0
40321   55744           6      1        0          0
40322   55745         101      0        0          0
40323   55746         106      1        0          0
40324   55747           1      0        0          0

[40325 rows x 5 columns]

In [9]:
nPosts = posts[["postId", "Score","userId","ViewCount","CommentCount"]]
nPosts

       postId  Score   userId  ViewCount  CommentCount
0           1     23      8.0     1278.0             1
1           2     22     24.0     8198.0             1
2           3     54     18.0     3613.0             4
3           4     13     23.0     5224.0             2
4           5     81     23.0        NaN             3
5           6    152      5.0    29229.0             5
6           7     76     38.0     5808.0             3
7           8      0     37.0      288.0             2
8           9     13     50.0        NaN             3
9          10     23     24.0    21925.0             4
10         11      2     34.0      224.0             2
11         12     20      5.0        NaN             1
12         13     14     23.0        NaN             4
13         14      5     36.0        NaN             1
14         15     13      6.0        NaN             0
15         16     16      8.0        NaN             3
16         17      9      NaN     1261.0             0
17         18     31     36.0        NaN             1
18         19     12     55.0        NaN             0
19         20      3     37.0        NaN             2
20         21      4     59.0      184.0             1
21         22    102     66.0    21916.0             1
22         23     10     69.0     7694.0             1
23         24     17     61.0        NaN             0
24         25      7     69.0     2095.0             4
25         26     18     75.0     3476.0            14
26         27      4     68.0        NaN             0
27         28      6      NaN        NaN             0
28         29      5     36.0        NaN             0
29         30      7     69.0      705.0             2
...       ...    ...      ...        ...           ...
91946  115346      0  42434.0        NaN             0
91947  115348      0  55564.0       18.0             3
91948  115350      0  55731.0        3.0             0
91949  115351      1   7331.0        9.0             0
91950  115352      0  55734.0       16.0             0
91951  115353      0   7290.0        NaN             0
91952  115354      2    805.0        NaN             0
91953  115355      3  35413.0       49.0             0
91954  115356      1  55733.0       15.0             0
91955  115357      1  44142.0        NaN             0
91956  115358      2   1569.0       15.0             0
91957  115360      2  55738.0       40.0             4
91958  115361      0  55383.0       12.0             1
91959  115362      2   7071.0        NaN             0
91960  115363      0   2676.0        NaN             0
91961  115364      0  52858.0       11.0             3
91962  115365     -1  28236.0        NaN             1
91963  115366      1  55742.0       17.0             0
91964  115367      1  41961.0       97.0             0
91965  115368      4  24808.0        NaN             0
91966  115369      4   6633.0        NaN             0
91967  115370      1  55744.0       13.0             2
91968  115371      0  35801.0       19.0             0
91969  115372      0  48579.0        NaN             9
91970  115373      0  48579.0        NaN             0
91971  115374      2    805.0        NaN             2
91972  115375      0  49365.0        9.0             0
91973  115376      1  55746.0        5.0             2
91974  115377      0    805.0        NaN             0
91975  115378      0   7250.0        NaN             0

[91976 rows x 5 columns]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [10]:
comb=pd.merge(users, posts, on="userId")
comb

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2014-04-23 13:43:43,NaT,NaN,NaT,None,None
1,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2011-03-21 17:40:28,NaT,NaN,NaT,None,None
2,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2011-03-21 17:46:43,NaT,NaN,NaT,None,None
3,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,919.0,2011-03-30 19:23:14,NaT,NaN,NaT,None,None
4,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,919.0,2011-03-30 19:23:14,NaT,NaN,NaT,None,None
5,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2011-04-22 06:59:10,NaT,NaN,NaT,None,None
6,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,2116.0,2011-04-22 09:24:38,NaT,NaN,NaT,None,None
7,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2011-04-22 07:09:42,NaT,NaN,NaT,None,None
8,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2011-04-29 00:18:02,NaT,NaN,NaT,None,None
9,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2011-04-29 00:18:02,NaT,NaN,NaT,None,None
10,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,NaN,2011-09-08 15:01:38,NaT,NaN,NaT,None,user5644
11,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,NaN,2011-09-08 15:01:36,NaT,NaN,NaT,None,user5644
12,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,7290.0,2014-04-09 14:52:13,NaT,NaN,NaT,None,None
13,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2011-10-02 18:27:56,NaT,NaN,NaT,None,None
14,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2011-12-06 09:43:26,NaT,NaN,NaT,None,None
15,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2011-12-15 02:38:20,NaT,NaN,NaT,None,None
16,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,NaN,2011-12-27 08:23:52,NaT,NaN,NaT,None,user7997
17,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,NaN,2011-12-27 08:23:34,NaT,NaN,NaT,None,user7997
18,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,NaN,2011-12-27 08:23:37,NaT,NaN,NaT,None,user7997
19,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,NaN,2011-12-27 08:23:40,NaT,NaN,NaT,None,user7997
20,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,NaN,2011-12-27 08:23:43,NaT,NaN,NaT,None,user7997
21,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2012-01-02 18:07:38,NaT,NaN,NaT,None,None
22,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2012-01-02 18:08:36,NaT,NaN,NaT,None,None
23,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,NaN,2012-01-02 18:17:13,NaT,NaN,NaT,None,user7997
24,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,NaN,2012-01-02 18:17:10,NaT,NaN,NaT,None,user7997
25,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2012-01-22 15:04:34,NaT,NaN,NaT,None,None
26,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2012-01-27 01:25:07,NaT,NaN,NaT,None,None
27,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2012-01-28 09:37:15,NaT,NaN,NaT,None,None
28,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2012-01-28 09:46:15,NaT,NaN,NaT,None,None
29,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,...,NaN,0,NaN,-1.0,2012-01-28 09:46:15,NaT,NaN,NaT,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90554,55674,1,2014-09-12 10:18:00,user2975986,2014-09-13 01:24:10,None,None,None,0,0,...,1.0,1,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90555,55676,1,2014-09-12 10:46:27,Onkarabile,2014-09-12 10:46:27,None,None,None,1,0,...,1.0,1,NaN,36229.0,2014-09-12 21:30:20,NaT,NaN,2014-09-12 19:11:31,None,None
90556,55677,1,2014-09-12 10:47:26,nabby,2014-09-12 12:59:53,None,None,None,1,0,...,0.0,2,NaN,1739.0,2014-09-12 11:53:07,NaT,NaN,NaT,None,None
90557,55679,1,2014-09-12 11:20:58,Veronica,2014-09-13 06:07:07,None,None,None,0,0,...,0.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90558,55682,13,2014-09-12 12:10:03,user2329744,2014-09-13 19:35:31,None,None,None,0,0,...,1.0,0,NaN,28666.0,2014-09-12 13:56:08,NaT,NaN,NaT,None,None
90559,55684,6,2014-09-12 13:12:56,georgiar18,2014-09-12 15:13:06,None,None,None,0,0,...,0.0,6,NaN,55684.0,2014-09-12 13:59:04,NaT,NaN,NaT,None,None
90560,55687,6,2014-09-12 14:23:59,Barry,2014-09-12 14:45:36,None,None,None,0,0,...,1.0,0,NaN,7290.0,2014-09-12 18:49:11,NaT,NaN,NaT,None,None
90561,55689,6,2014-09-12 14:52:52,The Baron,2014-09-12 19:20:05,None,None,None,0,0,...,0.0,7,NaN,55689.0,2014-09-12 16:50:36,NaT,NaN,NaT,None,None
90562,55695,1,2014-09-12 16:01:07,Antonio Santos,2014-09-12 16:42:45,None,None,None,0,0,...,0.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90563,55697,1,2014-09-12 16:24:30,Edimbra,2014-09-13 09:42:26,None,None,None,0,0,...,0.0,4,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90564,55699,6,2014-09-12 17:26:43,failedstudent,2014-09-13 19:39:55,None,None,None,0,0,...,0.0,6,NaN,7290.0,2014-09-12 17:41:06,NaT,NaN,2014-09-12 19:15:03,None,None
90565,55702,26,2014-09-12 18:13:44,AMG,2014-09-12 18:13:44,None,None,None,1,0,...,0.0,1,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90566,55709,1,2014-09-12 22:21:49,Sam,2014-09-12 22:21:49,None,None,None,0,0,...,0.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90567,55710,1,2014-09-12 22:43:36,rmehta1987,2014-09-12 23:42:48,None,None,None,0,0,...,0.0,4,NaN,55710.0,2014-09-12 23:43:58,NaT,NaN,NaT,None,None
90568,55713,6,2014-09-13 00:01:13,Alex Spangher,2014-09-13 01:05:33,None,None,None,0,0,...,1.0,2,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90569,55714,6,2014-09-13 00:31:44,dean,2014-09-13 08:31:02,None,None,None,0,0,...,0.0,3,NaN,36229.0,2014-09-13 00:57:34,NaT,NaN,2014-09-13 19:29:33,None,None
90570,55715,6,2014-09-13 02:46:40,Alex,2014-09-13 02:46:40,None,None,None,0,0,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90571,55718,6,2014-09-13 07:12:49,Amena,2014-09-13 07:12:49,None,None,None,0,0,...,2.0,0,NaN,805.0,2014-09-13 08:00:04,NaT,NaN,2014-09-13 18:43:55,None,None
90572,55719,1,2014-09-13 07:19:09,OGUNNUSI OLUWATOBI,2014-09-13 08:03:19,None,None,None,1,0,...,0.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90573,55720,1,2014-09-13 08:00:08,Rebecca,2014-09-13 08:00:08,None,None,None,0,0,...,0.0,1,NaN,NaN,NaT,NaT,NaN,2014-09-13 10:39:03,None,None
90574,55724,16,2014-09-13 09:50:11,ouroboros,2014-09-13 10:05:17,None,None,<p>I'm a self-taught programmer and linux powe...,1,0,...,0.0,1,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90575,55729,16,2014-09-13 11:04:54,Achim Zeileis,2014-09-13 12:15:21,None,None,None,1,0,...,NaN,0,NaN,NaN,NaT,NaT,114959.0,NaT,None,None
90576,55730,1,2014-09-13 12:01:38,quants_mum,2014-09-13 12:01:38,None,None,None,0,0,...,0.0,1,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90577,55731,1,2014-09-13 15:23:34,Kiran BM,2014-09-13 20:51:55,None,None,None,0,0,...,0.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90578,55733,6,2014-09-13 15:51:18,Pax,2014-09-13 23:57:22,None,None,None,1,0,...,0.0,0,NaN,55733.0,2014-09-13 20:45:45,NaT,NaN,NaT,None,None
90579,55734,1,2014-09-13 15:56:55,jalen,2014-09-13 15:56:55,None,None,None,0,0,...,1.0,0,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90580,55738,11,2014-09-13 18:06:50,guest,2014-09-14 01:34:01,None,None,None,0,0,...,0.0,4,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90581,55742,6,2014-09-13 20:36:55,Sayan Ghosh,2014-09-13 22:04:00,None,None,None,0,0,...,1.0,0,1.0,NaN,NaT,NaT,NaN,NaT,None,None
90582,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,...,0.0,2,NaN,NaN,NaT,NaT,NaN,NaT,None,None
90583,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,...,0.0,2,NaN,7290.0,2014-09-14 01:40:55,NaT,NaN,NaT,None,None

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [11]:
null_cols = comb.isnull().sum()
null_cols[null_cols>0].sum()

1128463

In [12]:
null_cols[null_cols>0]

WebsiteUrl               58513
Location                 50132
AboutMe                  48900
Age                      63780
ProfileImageUrl          66521
AcceptedAnswerId         76021
ViewCount                48396
Body                       220
Title                    48396
Tags                     48396
AnswerCount              48396
FavoriteCount            77605
LastEditorUserId         46456
LastEditDate             46228
CommunityOwnedDate       88197
ParentId                 43484
ClosedDate               89024
OwnerDisplayName         89463
LastEditorDisplayName    90335
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

It is fairly complicated to know what to do with the data without knowing the purpose of the exercise. However, I would assume that columns that contain a number of null values higher than the 50% of the total number of values in the column (~45000) could be dropped. The reason for this is that having such a high percentage of nulls would make the data innacurate and conclusions derived from it, guessed.

In [13]:
drop_cols = list(null_cols[null_cols > 45000].index)
remaining = comb.drop(drop_cols, axis=1)
drop_cols

['WebsiteUrl',
 'Location',
 'AboutMe',
 'Age',
 'ProfileImageUrl',
 'AcceptedAnswerId',
 'ViewCount',
 'Title',
 'Tags',
 'AnswerCount',
 'FavoriteCount',
 'LastEditorUserId',
 'LastEditDate',
 'CommunityOwnedDate',
 'ClosedDate',
 'OwnerDisplayName',
 'LastEditorDisplayName']

In [14]:
remaining

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,Views,UpVotes,DownVotes,AccountId,postId,PostTypeId,CreaionDate,Score,Body,LasActivityDate,CommentCount,ParentId
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,2175,7,2010-08-28 01:20:33,0,<p><strong>CrossValidated</strong> is for stat...,2013-01-10 19:43:24,0,NaN
1,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,8576,5,2011-03-21 17:40:28,0,None,2011-03-21 17:40:28,0,NaN
2,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,8578,5,2011-03-21 17:46:43,0,None,2011-03-21 17:46:43,0,NaN
3,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,8981,3,2011-03-30 19:23:14,0,"<p>""Statistics"" can refer variously to the (wi...",2011-03-30 19:23:14,0,NaN
4,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,8982,3,2011-03-30 19:23:14,0,This generic tag is only rarely suitable; use ...,2011-03-30 19:23:14,0,NaN
5,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,9857,3,2011-04-22 06:59:10,0,None,2011-04-22 06:59:10,0,NaN
6,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,9858,3,2011-04-22 06:59:10,0,Linear regression is a type of regression when...,2011-04-22 09:24:38,0,NaN
7,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,9860,5,2011-04-22 07:09:42,0,None,2011-04-22 07:09:42,0,NaN
8,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,10130,3,2011-04-29 00:18:02,0,None,2011-04-29 00:18:02,0,NaN
9,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,10131,3,2011-04-29 00:18:02,0,None,2011-04-29 00:18:02,0,NaN
10,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,15331,5,2011-09-08 14:55:01,0,<p>The term propensity-score comes from the li...,2011-09-08 15:01:38,0,NaN
11,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,15332,4,2011-09-08 14:55:01,0,The probability of receiving a treatment given...,2011-09-08 15:01:36,0,NaN
12,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,16296,5,2011-09-30 18:31:08,0,"<p><a href=""http://en.wikipedia.org/wiki/Struc...",2014-04-09 14:52:13,0,NaN
13,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,16366,5,2011-10-02 18:27:56,0,None,2011-10-02 18:27:56,0,NaN
14,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,19423,5,2011-12-06 09:43:26,0,None,2011-12-06 09:43:26,0,NaN
15,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,19848,5,2011-12-15 02:38:20,0,None,2011-12-15 02:38:20,0,NaN
16,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20259,5,2011-12-27 05:00:38,0,"<p>In statistics, a number that expresses the ...",2011-12-27 08:23:52,0,NaN
17,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20261,5,2011-12-27 05:02:52,0,<p>Statistical classification is the problem o...,2011-12-27 08:23:34,0,NaN
18,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20262,4,2011-12-27 05:02:52,0,Statistical classification is the problem of i...,2011-12-27 08:23:37,0,NaN
19,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20263,5,2011-12-27 05:04:26,0,<p>A statistical model is a formalization of r...,2011-12-27 08:23:40,0,NaN
20,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20264,4,2011-12-27 05:04:26,0,A statistical model is a formalization of rela...,2011-12-27 08:23:43,0,NaN
21,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20485,5,2012-01-02 18:07:38,0,None,2012-01-02 18:07:38,0,NaN
22,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20487,5,2012-01-02 18:08:36,0,None,2012-01-02 18:08:36,0,NaN
23,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20489,5,2012-01-02 18:09:27,0,"<p>Structured data files in any format, collec...",2012-01-02 18:17:13,0,NaN
24,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20490,4,2012-01-02 18:09:27,0,"Structured data files in any format, collected...",2012-01-02 18:17:10,0,NaN
25,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21497,5,2012-01-22 15:04:34,0,None,2012-01-22 15:04:34,0,NaN
26,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21795,5,2012-01-27 01:25:07,0,None,2012-01-27 01:25:07,0,NaN
27,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21856,5,2012-01-28 09:37:15,0,None,2012-01-28 09:37:15,0,NaN
28,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21860,5,2012-01-28 09:46:15,0,None,2012-01-28 09:46:15,0,NaN
29,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21861,4,2012-01-28 09:46:15,0,None,2012-01-28 09:46:15,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90554,55674,1,2014-09-12 10:18:00,user2975986,2014-09-13 01:24:10,0,0,0,3563868,115228,1,2014-09-12 10:28:57,0,"<p>I stumbled on this while doing MLR, and was...",2014-09-12 13:12:32,1,NaN
90555,55676,1,2014-09-12 10:46:27,Onkarabile,2014-09-12 10:46:27,1,0,0,5020982,115231,1,2014-09-12 10:46:27,0,<p>A random sample of size <code>n = 40</code>...,2014-09-12 21:30:20,1,NaN
90556,55677,1,2014-09-12 10:47:26,nabby,2014-09-12 12:59:53,1,0,0,5020983,115232,1,2014-09-12 10:47:26,0,<p>Let $Y$ be a mixture random variable that i...,2014-09-12 11:53:07,2,NaN
90557,55679,1,2014-09-12 11:20:58,Veronica,2014-09-13 06:07:07,0,0,0,932681,115236,1,2014-09-12 11:26:25,0,<p>I have a rule-based classifier and I know f...,2014-09-12 11:26:25,0,NaN
90558,55682,13,2014-09-12 12:10:03,user2329744,2014-09-13 19:35:31,0,0,0,2698346,115246,1,2014-09-12 12:47:21,2,<p>As Kernel PCA is the same as PCA in higher ...,2014-09-12 21:14:12,0,NaN
90559,55684,6,2014-09-12 13:12:56,georgiar18,2014-09-12 15:13:06,0,0,0,5021601,115253,1,2014-09-12 13:12:56,1,"<p>I'm currently doing my university thesis, a...",2014-09-12 13:59:04,6,NaN
90560,55687,6,2014-09-12 14:23:59,Barry,2014-09-12 14:45:36,0,0,0,5021930,115264,1,2014-09-12 14:23:59,1,<p>My 8 year old daughter is conducting an exp...,2014-09-12 18:49:11,0,NaN
90561,55689,6,2014-09-12 14:52:52,The Baron,2014-09-12 19:20:05,0,0,0,5022066,115270,1,2014-09-12 14:52:52,1,"<p>I want to calculate this sort of quantity, ...",2014-09-12 16:50:36,7,NaN
90562,55695,1,2014-09-12 16:01:07,Antonio Santos,2014-09-12 16:42:45,0,0,0,5022391,115278,1,2014-09-12 16:20:47,0,<p>We are analyzing haplotype diversity within...,2014-09-12 16:20:47,0,NaN
90563,55697,1,2014-09-12 16:24:30,Edimbra,2014-09-13 09:42:26,0,0,0,5022491,115285,1,2014-09-12 16:54:35,0,<p>My response variable is a questionnaire sco...,2014-09-12 16:54:35,4,NaN
90564,55699,6,2014-09-12 17:26:43,failedstudent,2014-09-13 19:39:55,0,0,0,5022766,115287,1,2014-09-12 17:26:43,1,<p>I failed to pass my regression analysis cou...,2014-09-12 17:41:06,6,NaN
90565,55702,26,2014-09-12 18:13:44,AMG,2014-09-12 18:13:44,1,0,0,5022953,115291,1,2014-09-12 18:13:44,5,<p>I'm wondering what distribution results in ...,2014-09-12 18:13:44,1,NaN
90566,55709,1,2014-09-12 22:21:49,Sam,2014-09-12 22:21:49,0,0,0,5023747,115312,1,2014-09-12 22:23:12,0,<p>I am trying to compare the results of two m...,2014-09-12 22:23:12,0,NaN
90567,55710,1,2014-09-12 22:43:36,rmehta1987,2014-09-12 23:42:48,0,0,0,3768680,115313,1,2014-09-12 22:49:11,0,<p>I'm having trouble proving a N.N.D matrix h...,2014-09-12 23:43:58,4,NaN
90568,55713,6,2014-09-13 00:01:13,Alex Spangher,2014-09-13 01:05:33,0,0,0,2346002,115315,1,2014-09-13 00:10:52,1,<p>Sorry if this type of question is not koshe...,2014-09-13 02:16:39,2,NaN
90569,55714,6,2014-09-13 00:31:44,dean,2014-09-13 08:31:02,0,0,0,5024006,115316,1,2014-09-13 00:31:44,1,<p>I came across a formula presented in a fina...,2014-09-13 00:57:34,3,NaN
90570,55715,6,2014-09-13 02:46:40,Alex,2014-09-13 02:46:40,0,0,0,5024218,115321,1,2014-09-13 02:46:40,1,<p>I've collected data on accuracy of recognit...,2014-09-13 08:34:34,0,NaN
90571,55718,6,2014-09-13 07:12:49,Amena,2014-09-13 07:12:49,0,0,0,5024818,115327,1,2014-09-13 07:12:49,1,<p>I was evaluating a research paper in which ...,2014-09-13 08:45:24,0,NaN
90572,55719,1,2014-09-13 07:19:09,OGUNNUSI OLUWATOBI,2014-09-13 08:03:19,1,0,0,5024833,115328,1,2014-09-13 07:19:09,0,<p>Good morning scholars. Please am fitting a ...,2014-09-13 07:19:09,0,NaN
90573,55720,1,2014-09-13 08:00:08,Rebecca,2014-09-13 08:00:08,0,0,0,5024897,115331,1,2014-09-13 08:02:51,0,<p>I am a complete beginner at using R but hav...,2014-09-13 08:02:51,1,NaN
90574,55724,16,2014-09-13 09:50:11,ouroboros,2014-09-13 10:05:17,1,0,0,3620179,115335,1,2014-09-13 10:09:50,3,"<p>I have a set of objects, each of which can ...",2014-09-13 10:09:50,1,NaN
90575,55729,16,2014-09-13 11:04:54,Achim Zeileis,2014-09-13 12:15:21,1,0,0,5025362,115338,2,2014-09-13 11:04:54,0,<p>All items are not solved fully correctly in...,2014-09-13 11:04:54,0,114959.0
90576,55730,1,2014-09-13 12:01:38,quants_mum,2014-09-13 12:01:38,0,0,0,5025477,115340,1,2014-09-13 12:01:38,0,<p>I am working on decision trees for the firs...,2014-09-13 12:01:38,1,NaN
90577,55731,1,2014-09-13 15:23:34,Kiran BM,2014-09-13 20:51:55,0,0,0,5025991,115350,1,2014-09-13 15:26:01,0,<p>How do we specify negative costs in rpart? ...,2014-09-13 15:26:01,0,NaN
90578,55733,6,2014-09-13 15:51:18,Pax,2014-09-13 23:57:22,1,0,0,5026082,115356,1,2014-09-13 16:34:58,1,<p>I'm a beginner in statistics and I have to ...,2014-09-13 20:45:45,0,NaN
90579,55734,1,2014-09-13 15:56:55,jalen,2014-09-13 15:56:55,0,0,0,5026094,115352,1,2014-09-13 15:56:55,0,"<p>For example, I was looking at <a href=""http...",2014-09-13 16:15:30,0,NaN
90580,55738,11,2014-09-13 18:06:50,guest,2014-09-14 01:34:01,0,0,0,5026468,115360,1,2014-09-13 18:06:50,2,<p>Is Student's t test a Wald test?</p>\n\n<p>...,2014-09-13 18:06:50,4,NaN
90581,55742,6,2014-09-13 20:36:55,Sayan Ghosh,2014-09-13 22:04:00,0,0,0,5026843,115366,1,2014-09-13 20:36:55,1,<p>Does any standard statistical software like...,2014-09-13 23:18:30,0,NaN
90582,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,1,0,0,5026998,115370,1,2014-09-13 21:39:30,1,<p>im analyzing an article for my studies with...,2014-09-13 21:39:30,2,NaN
90583,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,1,0,0,976289,115376,1,2014-09-14 01:27:54,1,<p>My goal is to create a formula that can giv...,2014-09-14 01:40:55,2,NaN

Once data is dropped, you can work with the remaining data in order to extract some logic from other columns containing nulls. In the case below the column "Body" is the object of our study, nulls in that column have been isolated to study them.

In [15]:
null_displ = remaining[(remaining['Body'].isnull()==True)]
null_displ = null_displ[['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'Views', 'UpVotes', 'DownVotes', 'AccountId', 'postId', 'PostTypeId',
       'CreationDate', 'Score', 'Body', 'LasActivityDate', 'CommentCount']]
null_displ

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,Views,UpVotes,DownVotes,AccountId,postId,PostTypeId,CreationDate,Score,Body,LasActivityDate,CommentCount
1,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,8576,5,2010-07-19 06:55:26,0,None,2011-03-21 17:40:28,0
2,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,8578,5,2010-07-19 06:55:26,0,None,2011-03-21 17:46:43,0
5,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,9857,3,2010-07-19 06:55:26,0,None,2011-04-22 06:59:10,0
7,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,9860,5,2010-07-19 06:55:26,0,None,2011-04-22 07:09:42,0
8,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,10130,3,2010-07-19 06:55:26,0,None,2011-04-29 00:18:02,0
9,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,10131,3,2010-07-19 06:55:26,0,None,2011-04-29 00:18:02,0
13,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,16366,5,2010-07-19 06:55:26,0,None,2011-10-02 18:27:56,0
14,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,19423,5,2010-07-19 06:55:26,0,None,2011-12-06 09:43:26,0
15,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,19848,5,2010-07-19 06:55:26,0,None,2011-12-15 02:38:20,0
21,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20485,5,2010-07-19 06:55:26,0,None,2012-01-02 18:07:38,0
22,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20487,5,2010-07-19 06:55:26,0,None,2012-01-02 18:08:36,0
25,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21497,5,2010-07-19 06:55:26,0,None,2012-01-22 15:04:34,0
26,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21795,5,2010-07-19 06:55:26,0,None,2012-01-27 01:25:07,0
27,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21856,5,2010-07-19 06:55:26,0,None,2012-01-28 09:37:15,0
28,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21860,5,2010-07-19 06:55:26,0,None,2012-01-28 09:46:15,0
29,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21861,4,2010-07-19 06:55:26,0,None,2012-01-28 09:46:15,0
30,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21862,5,2010-07-19 06:55:26,0,None,2012-01-28 09:48:49,0
31,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21864,5,2010-07-19 06:55:26,0,None,2012-01-28 09:50:31,0
32,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21876,5,2010-07-19 06:55:26,0,None,2012-01-28 19:47:12,0
33,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21878,5,2010-07-19 06:55:26,0,None,2012-01-28 19:50:00,0
34,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21882,5,2010-07-19 06:55:26,0,None,2012-01-28 19:57:45,0
35,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,23847,5,2010-07-19 06:55:26,0,None,2012-02-29 06:41:22,0
36,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,27148,5,2010-07-19 06:55:26,0,None,2012-04-26 01:08:49,0
37,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,28215,5,2010-07-19 06:55:26,0,None,2012-05-10 22:14:30,0
38,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,28223,5,2010-07-19 06:55:26,0,None,2012-05-10 23:10:31,0
39,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,28240,5,2010-07-19 06:55:26,0,None,2012-05-11 03:14:43,0
40,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,28260,5,2010-07-19 06:55:26,0,None,2012-05-11 13:00:09,0
41,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,28263,5,2010-07-19 06:55:26,0,None,2012-05-11 13:00:47,0
42,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,28267,5,2010-07-19 06:55:26,0,None,2012-05-11 13:17:46,0
43,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,28269,5,2010-07-19 06:55:26,0,None,2012-05-11 13:21:06,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7605,686,44152,2010-08-03 19:42:40,Peter Flom,2014-09-13 22:08:44,7357,2156,82,80800,63343,5,2010-08-03 19:42:40,0,None,2013-07-04 14:03:55,0
7609,686,44152,2010-08-03 19:42:40,Peter Flom,2014-09-13 22:08:44,7357,2156,82,80800,63373,5,2010-08-03 19:42:40,0,None,2013-07-04 23:53:51,0
7615,686,44152,2010-08-03 19:42:40,Peter Flom,2014-09-13 22:08:44,7357,2156,82,80800,63449,5,2010-08-03 19:42:40,0,None,2013-07-05 13:57:24,0
7810,686,44152,2010-08-03 19:42:40,Peter Flom,2014-09-13 22:08:44,7357,2156,82,80800,73889,5,2010-08-03 19:42:40,0,None,2013-10-27 21:12:43,0
7812,686,44152,2010-08-03 19:42:40,Peter Flom,2014-09-13 22:08:44,7357,2156,82,80800,73933,5,2010-08-03 19:42:40,0,None,2013-10-28 10:42:29,0
7832,686,44152,2010-08-03 19:42:40,Peter Flom,2014-09-13 22:08:44,7357,2156,82,80800,74454,5,2010-08-03 19:42:40,0,None,2013-11-03 11:27:30,0
9574,805,65272,2010-08-07 08:40:07,Glen_b,2014-09-14 03:01:20,5680,7035,143,131001,78824,5,2010-08-07 08:40:07,0,None,2013-12-07 01:22:34,0
11563,919,87393,2010-08-13 15:29:47,whuber,2014-09-14 00:51:49,20932,11273,779,449752,9209,5,2010-08-13 15:29:47,0,None,2011-04-05 16:46:53,0
11772,919,87393,2010-08-13 15:29:47,whuber,2014-09-14 00:51:49,20932,11273,779,449752,18364,5,2010-08-13 15:29:47,0,None,2011-11-14 18:41:27,0
11808,919,87393,2010-08-13 15:29:47,whuber,2014-09-14 00:51:49,20932,11273,779,449752,20696,5,2010-08-13 15:29:47,0,None,2012-01-07 01:57:19,0
12047,919,87393,2010-08-13 15:29:47,whuber,2014-09-14 00:51:49,20932,11273,779,449752,44277,5,2010-08-13 15:29:47,0,None,2012-11-23 15:07:06,0
12289,919,87393,2010-08-13 15:29:47,whuber,2014-09-14 00:51:49,20932,11273,779,449752,82618,5,2010-08-13 15:29:47,0,None,2014-01-17 17:11:36,0
12840,930,31170,2010-08-13 20:50:47,chl,2014-09-13 20:53:41,5529,10523,214,184175,18646,5,2010-08-13 20:50:47,0,None,2011-11-19 21:28:00,0
12862,930,31170,2010-08-13 20:50:47,chl,2014-09-13 20:53:41,5529,10523,214,184175,21877,4,2010-08-13 20:50:47,0,None,2012-01-28 19:47:12,0
12894,930,31170,2010-08-13 20:50:47,chl,2014-09-13 20:53:41,5529,10523,214,184175,34123,5,2010-08-13 20:50:47,0,None,2012-08-11 09:28:51,0
12907,930,31170,2010-08-13 20:50:47,chl,2014-09-13 20:53:41,5529,10523,214,184175,64366,5,2010-08-13 20:50:47,0,None,2013-07-15 13:31:02,0
34513,7290,37083,2011-11-09 04:43:15,gung,2014-09-14 02:10:14,5554,8641,125,1028075,66318,5,2011-11-09 04:43:15,0,None,2013-08-02 03:12:15,0
34515,7290,37083,2011-11-09 04:43:15,gung,2014-09-14 02:10:14,5554,8641,125,1028075,66320,5,2011-11-09 04:43:15,0,None,2013-08-02 03:21:28,0
34523,7290,37083,2011-11-09 04:43:15,gung,2014-09-14 02:10:14,5554,8641,125,1028075,66840,5,2011-11-09 04:43:15,0,None,2013-08-08 13:29:59,0
34528,7290,37083,2011-11-09 04:43:15,gung,2014-09-14 02:10:14,5554,8641,125,1028075,67079,5,2011-11-09 04:43:15,0,None,2013-08-11 17:01:04,0
34533,7290,37083,2011-11-09 04:43:15,gung,2014-09-14 02:10:14,5554,8641,125,1028075,67216,5,2011-11-09 04:43:15,0,None,2013-08-13 01:28:06,0
34536,7290,37083,2011-11-09 04:43:15,gung,2014-09-14 02:10:14,5554,8641,125,1028075,67587,5,2011-11-09 04:43:15,0,None,2013-08-16 15:52:18,0
34538,7290,37083,2011-11-09 04:43:15,gung,2014-09-14 02:10:14,5554,8641,125,1028075,67589,5,2011-11-09 04:43:15,0,None,2013-08-16 15:53:29,0
34558,7290,37083,2011-11-09 04:43:15,gung,2014-09-14 02:10:14,5554,8641,125,1028075,70194,5,2011-11-09 04:43:15,0,None,2013-09-16 22:45:32,0
34566,7290,37083,2011-11-09 04:43:15,gung,2014-09-14 02:10:14,5554,8641,125,1028075,71182,5,2011-11-09 04:43:15,0,None,2013-09-26 19:54:04,0
34577,7290,37083,2011-11-09 04:43:15,gung,2014-09-14 02:10:14,5554,8641,125,1028075,72983,5,2011-11-09 04:43:15,0,None,2013-10-16 18:34:20,0
34592,7290,37083,2011-11-09 04:43:15,gung,2014-09-14 02:10:14,5554,8641,125,1028075,76603,5,2011-11-09 04:43:15,0,None,2013-11-14 20:47:42,0
34594,7290,37083,2011-11-09 04:43:15,gung,2014-09-14 02:10:14,5554,8641,125,1028075,76631,5,2011-11-09 04:43:15,0,None,2013-11-15 02:17:54,0
34674,7290,37083,2011-11-09 04:43:15,gung,2014-09-14 02:10:14,5554,8641,125,1028075,90803,5,2011-11-09 04:43:15,0,None,2014-03-21 03:21:59,0
34703,7290,37083,2011-11-09 04:43:15,gung,2014-09-14 02:10:14,5554,8641,125,1028075,93185,5,2011-11-09 04:43:15,0,None,2014-04-09 14:54:47,0

From the data above, we could conclude that posts without a body should contain the text "Body is missing". To achieve that:

In [16]:
remaining[['Body']] = remaining[['Body']].fillna("Body is missing")
remaining

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,Views,UpVotes,DownVotes,AccountId,postId,PostTypeId,CreaionDate,Score,Body,LasActivityDate,CommentCount,ParentId
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,2175,7,2010-08-28 01:20:33,0,<p><strong>CrossValidated</strong> is for stat...,2013-01-10 19:43:24,0,NaN
1,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,8576,5,2011-03-21 17:40:28,0,Body is missing,2011-03-21 17:40:28,0,NaN
2,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,8578,5,2011-03-21 17:46:43,0,Body is missing,2011-03-21 17:46:43,0,NaN
3,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,8981,3,2011-03-30 19:23:14,0,"<p>""Statistics"" can refer variously to the (wi...",2011-03-30 19:23:14,0,NaN
4,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,8982,3,2011-03-30 19:23:14,0,This generic tag is only rarely suitable; use ...,2011-03-30 19:23:14,0,NaN
5,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,9857,3,2011-04-22 06:59:10,0,Body is missing,2011-04-22 06:59:10,0,NaN
6,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,9858,3,2011-04-22 06:59:10,0,Linear regression is a type of regression when...,2011-04-22 09:24:38,0,NaN
7,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,9860,5,2011-04-22 07:09:42,0,Body is missing,2011-04-22 07:09:42,0,NaN
8,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,10130,3,2011-04-29 00:18:02,0,Body is missing,2011-04-29 00:18:02,0,NaN
9,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,10131,3,2011-04-29 00:18:02,0,Body is missing,2011-04-29 00:18:02,0,NaN
10,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,15331,5,2011-09-08 14:55:01,0,<p>The term propensity-score comes from the li...,2011-09-08 15:01:38,0,NaN
11,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,15332,4,2011-09-08 14:55:01,0,The probability of receiving a treatment given...,2011-09-08 15:01:36,0,NaN
12,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,16296,5,2011-09-30 18:31:08,0,"<p><a href=""http://en.wikipedia.org/wiki/Struc...",2014-04-09 14:52:13,0,NaN
13,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,16366,5,2011-10-02 18:27:56,0,Body is missing,2011-10-02 18:27:56,0,NaN
14,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,19423,5,2011-12-06 09:43:26,0,Body is missing,2011-12-06 09:43:26,0,NaN
15,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,19848,5,2011-12-15 02:38:20,0,Body is missing,2011-12-15 02:38:20,0,NaN
16,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20259,5,2011-12-27 05:00:38,0,"<p>In statistics, a number that expresses the ...",2011-12-27 08:23:52,0,NaN
17,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20261,5,2011-12-27 05:02:52,0,<p>Statistical classification is the problem o...,2011-12-27 08:23:34,0,NaN
18,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20262,4,2011-12-27 05:02:52,0,Statistical classification is the problem of i...,2011-12-27 08:23:37,0,NaN
19,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20263,5,2011-12-27 05:04:26,0,<p>A statistical model is a formalization of r...,2011-12-27 08:23:40,0,NaN
20,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20264,4,2011-12-27 05:04:26,0,A statistical model is a formalization of rela...,2011-12-27 08:23:43,0,NaN
21,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20485,5,2012-01-02 18:07:38,0,Body is missing,2012-01-02 18:07:38,0,NaN
22,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20487,5,2012-01-02 18:08:36,0,Body is missing,2012-01-02 18:08:36,0,NaN
23,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20489,5,2012-01-02 18:09:27,0,"<p>Structured data files in any format, collec...",2012-01-02 18:17:13,0,NaN
24,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,20490,4,2012-01-02 18:09:27,0,"Structured data files in any format, collected...",2012-01-02 18:17:10,0,NaN
25,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21497,5,2012-01-22 15:04:34,0,Body is missing,2012-01-22 15:04:34,0,NaN
26,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21795,5,2012-01-27 01:25:07,0,Body is missing,2012-01-27 01:25:07,0,NaN
27,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21856,5,2012-01-28 09:37:15,0,Body is missing,2012-01-28 09:37:15,0,NaN
28,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21860,5,2012-01-28 09:46:15,0,Body is missing,2012-01-28 09:46:15,0,NaN
29,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,21861,4,2012-01-28 09:46:15,0,Body is missing,2012-01-28 09:46:15,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90554,55674,1,2014-09-12 10:18:00,user2975986,2014-09-13 01:24:10,0,0,0,3563868,115228,1,2014-09-12 10:28:57,0,"<p>I stumbled on this while doing MLR, and was...",2014-09-12 13:12:32,1,NaN
90555,55676,1,2014-09-12 10:46:27,Onkarabile,2014-09-12 10:46:27,1,0,0,5020982,115231,1,2014-09-12 10:46:27,0,<p>A random sample of size <code>n = 40</code>...,2014-09-12 21:30:20,1,NaN
90556,55677,1,2014-09-12 10:47:26,nabby,2014-09-12 12:59:53,1,0,0,5020983,115232,1,2014-09-12 10:47:26,0,<p>Let $Y$ be a mixture random variable that i...,2014-09-12 11:53:07,2,NaN
90557,55679,1,2014-09-12 11:20:58,Veronica,2014-09-13 06:07:07,0,0,0,932681,115236,1,2014-09-12 11:26:25,0,<p>I have a rule-based classifier and I know f...,2014-09-12 11:26:25,0,NaN
90558,55682,13,2014-09-12 12:10:03,user2329744,2014-09-13 19:35:31,0,0,0,2698346,115246,1,2014-09-12 12:47:21,2,<p>As Kernel PCA is the same as PCA in higher ...,2014-09-12 21:14:12,0,NaN
90559,55684,6,2014-09-12 13:12:56,georgiar18,2014-09-12 15:13:06,0,0,0,5021601,115253,1,2014-09-12 13:12:56,1,"<p>I'm currently doing my university thesis, a...",2014-09-12 13:59:04,6,NaN
90560,55687,6,2014-09-12 14:23:59,Barry,2014-09-12 14:45:36,0,0,0,5021930,115264,1,2014-09-12 14:23:59,1,<p>My 8 year old daughter is conducting an exp...,2014-09-12 18:49:11,0,NaN
90561,55689,6,2014-09-12 14:52:52,The Baron,2014-09-12 19:20:05,0,0,0,5022066,115270,1,2014-09-12 14:52:52,1,"<p>I want to calculate this sort of quantity, ...",2014-09-12 16:50:36,7,NaN
90562,55695,1,2014-09-12 16:01:07,Antonio Santos,2014-09-12 16:42:45,0,0,0,5022391,115278,1,2014-09-12 16:20:47,0,<p>We are analyzing haplotype diversity within...,2014-09-12 16:20:47,0,NaN
90563,55697,1,2014-09-12 16:24:30,Edimbra,2014-09-13 09:42:26,0,0,0,5022491,115285,1,2014-09-12 16:54:35,0,<p>My response variable is a questionnaire sco...,2014-09-12 16:54:35,4,NaN
90564,55699,6,2014-09-12 17:26:43,failedstudent,2014-09-13 19:39:55,0,0,0,5022766,115287,1,2014-09-12 17:26:43,1,<p>I failed to pass my regression analysis cou...,2014-09-12 17:41:06,6,NaN
90565,55702,26,2014-09-12 18:13:44,AMG,2014-09-12 18:13:44,1,0,0,5022953,115291,1,2014-09-12 18:13:44,5,<p>I'm wondering what distribution results in ...,2014-09-12 18:13:44,1,NaN
90566,55709,1,2014-09-12 22:21:49,Sam,2014-09-12 22:21:49,0,0,0,5023747,115312,1,2014-09-12 22:23:12,0,<p>I am trying to compare the results of two m...,2014-09-12 22:23:12,0,NaN
90567,55710,1,2014-09-12 22:43:36,rmehta1987,2014-09-12 23:42:48,0,0,0,3768680,115313,1,2014-09-12 22:49:11,0,<p>I'm having trouble proving a N.N.D matrix h...,2014-09-12 23:43:58,4,NaN
90568,55713,6,2014-09-13 00:01:13,Alex Spangher,2014-09-13 01:05:33,0,0,0,2346002,115315,1,2014-09-13 00:10:52,1,<p>Sorry if this type of question is not koshe...,2014-09-13 02:16:39,2,NaN
90569,55714,6,2014-09-13 00:31:44,dean,2014-09-13 08:31:02,0,0,0,5024006,115316,1,2014-09-13 00:31:44,1,<p>I came across a formula presented in a fina...,2014-09-13 00:57:34,3,NaN
90570,55715,6,2014-09-13 02:46:40,Alex,2014-09-13 02:46:40,0,0,0,5024218,115321,1,2014-09-13 02:46:40,1,<p>I've collected data on accuracy of recognit...,2014-09-13 08:34:34,0,NaN
90571,55718,6,2014-09-13 07:12:49,Amena,2014-09-13 07:12:49,0,0,0,5024818,115327,1,2014-09-13 07:12:49,1,<p>I was evaluating a research paper in which ...,2014-09-13 08:45:24,0,NaN
90572,55719,1,2014-09-13 07:19:09,OGUNNUSI OLUWATOBI,2014-09-13 08:03:19,1,0,0,5024833,115328,1,2014-09-13 07:19:09,0,<p>Good morning scholars. Please am fitting a ...,2014-09-13 07:19:09,0,NaN
90573,55720,1,2014-09-13 08:00:08,Rebecca,2014-09-13 08:00:08,0,0,0,5024897,115331,1,2014-09-13 08:02:51,0,<p>I am a complete beginner at using R but hav...,2014-09-13 08:02:51,1,NaN
90574,55724,16,2014-09-13 09:50:11,ouroboros,2014-09-13 10:05:17,1,0,0,3620179,115335,1,2014-09-13 10:09:50,3,"<p>I have a set of objects, each of which can ...",2014-09-13 10:09:50,1,NaN
90575,55729,16,2014-09-13 11:04:54,Achim Zeileis,2014-09-13 12:15:21,1,0,0,5025362,115338,2,2014-09-13 11:04:54,0,<p>All items are not solved fully correctly in...,2014-09-13 11:04:54,0,114959.0
90576,55730,1,2014-09-13 12:01:38,quants_mum,2014-09-13 12:01:38,0,0,0,5025477,115340,1,2014-09-13 12:01:38,0,<p>I am working on decision trees for the firs...,2014-09-13 12:01:38,1,NaN
90577,55731,1,2014-09-13 15:23:34,Kiran BM,2014-09-13 20:51:55,0,0,0,5025991,115350,1,2014-09-13 15:26:01,0,<p>How do we specify negative costs in rpart? ...,2014-09-13 15:26:01,0,NaN
90578,55733,6,2014-09-13 15:51:18,Pax,2014-09-13 23:57:22,1,0,0,5026082,115356,1,2014-09-13 16:34:58,1,<p>I'm a beginner in statistics and I have to ...,2014-09-13 20:45:45,0,NaN
90579,55734,1,2014-09-13 15:56:55,jalen,2014-09-13 15:56:55,0,0,0,5026094,115352,1,2014-09-13 15:56:55,0,"<p>For example, I was looking at <a href=""http...",2014-09-13 16:15:30,0,NaN
90580,55738,11,2014-09-13 18:06:50,guest,2014-09-14 01:34:01,0,0,0,5026468,115360,1,2014-09-13 18:06:50,2,<p>Is Student's t test a Wald test?</p>\n\n<p>...,2014-09-13 18:06:50,4,NaN
90581,55742,6,2014-09-13 20:36:55,Sayan Ghosh,2014-09-13 22:04:00,0,0,0,5026843,115366,1,2014-09-13 20:36:55,1,<p>Does any standard statistical software like...,2014-09-13 23:18:30,0,NaN
90582,55744,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,1,0,0,5026998,115370,1,2014-09-13 21:39:30,1,<p>im analyzing an article for my studies with...,2014-09-13 21:39:30,2,NaN
90583,55746,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,1,0,0,976289,115376,1,2014-09-14 01:27:54,1,<p>My goal is to create a formula that can giv...,2014-09-14 01:40:55,2,NaN

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [17]:
remaining.dtypes

userId                      int64
Reputation                  int64
CreationDate       datetime64[ns]
DisplayName                object
LastAccessDate     datetime64[ns]
Views                       int64
UpVotes                     int64
DownVotes                   int64
AccountId                   int64
postId                      int64
PostTypeId                  int64
CreaionDate        datetime64[ns]
Score                       int64
Body                       object
LasActivityDate    datetime64[ns]
CommentCount                int64
ParentId                  float64
dtype: object

In [18]:
remaining.ParentId.drop_duplicates()

0             NaN
212           7.0
213          25.0
214          33.0
215          51.0
216          73.0
217          75.0
220         103.0
222         125.0
223         130.0
224         138.0
225         196.0
226         194.0
227         216.0
228         298.0
229         242.0
230         257.0
231         328.0
232         396.0
234         423.0
235         485.0
236         155.0
237         507.0
239         562.0
240         575.0
241         614.0
243         633.0
244         764.0
245         770.0
246         769.0
           ...
90303    114110.0
90304    114081.0
90307    113068.0
90308    108226.0
90309    114380.0
90336     24072.0
90339     52536.0
90340    114441.0
90370    114583.0
90375    114388.0
90376    114607.0
90377    114636.0
90380    114676.0
90382    114885.0
90387    114629.0
90400    114687.0
90402    115133.0
90410    114721.0
90411    114709.0
90424    114880.0
90425    114887.0
90427    114894.0
90449    109704.0
90456     82380.0
90476    114187.0
90498     88071.0
90507    114943.0
90512     74334.0
90536     85385.0
90575    114959.0
Name: ParentId, Length: 28863, dtype: float64

It looks like registers in the parentId column are all integers although they have been stored as floats. We can change the data type of the column to avoid future issues:

In [19]:
remaining[['ParentId']] = remaining[['ParentId']].fillna(-1)

In [20]:
remaining['ParentId'] = remaining['ParentId'].astype('int64')
remaining['ParentId'].dtype

dtype('int64')

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.