# Lab Mongo

### Import libraries

In [199]:
import pandas as pd
import pymongo as py
from pandas.io.json import json_normalize

### Set client and data base

In [1]:
from pymongo import MongoClient 
client = MongoClient("mongodb://admin:admin@localhost:32770")
db = client.mybbdd

## Queries
1. All the companies that it's name match 'Babelgum'. Retrieve only their name field.

In [24]:
name_babelgum = db.docs.find({"name":{"$eq":"Babelgum"}})
name_babelgum[0]['name']

'Babelgum'

2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by number of employees.

In [194]:
employees_5000 = db.docs.find({"number_of_employees":{"$gt":5000}}, projection={"_id": 0, "name": 1 , "number_of_employees": 1, "_id": 0}).sort("number_of_employees", py.DESCENDING).limit(20)
employees_5000 = pd.DataFrame(list(employees_5000))
employees_5000

                                          name  number_of_employees
0                                      Siemens               405000
1                                          IBM               388000
2                                       Toyota               320000
3                                       PayPal               300000
4   Nippon Telegraph and Telephone Corporation               227000
5                          Samsung Electronics               221726
6                                    Accenture               205000
7                    Tata Consultancy Services               200300
8                    Flextronics International               200000
9                                      Safeway               186000
10                                        Sony               180500
11                                          LG               177000
12                                        Ford               171000
13                                      Boeing               160000
14               Digital Equipment Corporation               140000
15                                       Nokia               125000
16                         MItsubishi Electric               107000
17                         MItsubishi Electric               107000
18                                     Comcast               100000
19                                 Bertelsmann               100000

3. All the companies founded between 2000 and 2005, both years included. Retrieve only the name and founded_yearfileds.

In [193]:
founded_2000_2005 = db.docs.find({"founded_year":{'$gte':2000,'$lte':2005}}, projection={"_id":0, "name": 1 , "founded_year": 1}).sort("founded_year", py.ASCENDING)
founded_2000_2005 = pd.DataFrame(list(founded_2000_2005))
founded_2000_2005

      founded_year                       name
0             2000                   AllofMP3
1             2000                     Steorn
2             2000                     MeeVee
3             2000                   PhotoBox
4             2000                     Boonex
5             2000                     Sulake
6             2000                SelectMinds
7             2000                 ContextWeb
8             2000                   ZoomInfo
9             2000                   eHarmony
10            2000                  Espotting
11            2000                       airG
12            2000                    Marchex
13            2000              ContactOffice
14            2000                      WooMe
15            2000                      Boomi
16            2000                     zSlide
17            2000                 Phrasebase
18            2000                    Ubertor
19            2000                     JobDig
20            2000                      Quigo
21            2000                    Compete
22            2000                  LinkStorm
23            2000                iStockphoto
24            2000                beRecruited
25            2000                FastBooking
26            2000                   Smilebox
27            2000                       Deem
28            2000                 CDNetworks
29            2000                TripAdvisor
...            ...                        ...
3704          2005                     Joomla
3705          2005                   CallFire
3706          2005                     OpTier
3707          2005  Prime Time Communications
3708          2005                     Azingo
3709          2005             Video Game 911
3710          2005            Varonis Systems
3711          2005      Rivotek Kenya Limited
3712          2005                Report Hawk
3713          2005               Agency Zebra
3714          2005                    Alter-G
3715          2005       Breathe Technologies
3716          2005                  SoloPower
3717          2005                   Mashable
3718          2005          Control Solutions
3719          2005                 GreenVolts
3720          2005                  SoftLayer
3721          2005                   Semprius
3722          2005    SI Government Solutions
3723          2005                      Danoo
3724          2005                  Teklatech
3725          2005           Phasor Solutions
3726          2005                   Equiendo
3727          2005                     Axxana
3728          2005       TerraGo Technologies
3729          2005                Swiftprosys
3730          2005     Events Computer Design
3731          2005   Total Telecom Consulting
3732          2005                   iPartyTV
3733          2005       Mu-Gahat Enterprises

[3734 rows x 2 columns]

4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the name and ipo fields.

In [205]:
valuation_founded = db.docs.find({'$and' : [{"founded_year":{'$lt':2010}}, {"ipo.valuation_amount":{'$gt':100000000}}]},projection={"_id":0,"name": 1 , "founded_year": 1, "ipo.valuation_amount": 1})
valuation_founded = json_normalize(list(valuation_founded))
valuation_founded

    founded_year  ipo.valuation_amount                  name
0           2004          104000000000              Facebook
1           2006           18100000000               Twitter
2           2004            1300000000                  Yelp
3           2003            9310000000              LinkedIn
4           1994          100000000000                Amazon
5           2004             290000000            Brightcove
6           2008             235000000           KIT digital
7           1922            1600000000               Nielsen
8           1998            1050000000             OpenTable
9           2001             287000000        ChannelAdvisor
10          2001            1000000000         Jive Software
11          2005            2550000000                Zillow
12          2006             750000000                   Wix
13          1999             350000000            Shutterfly
14          2000            3273770000           TripAdvisor
15          1999             110000000            Salesforce
16          2005            3000000000              HomeAway
17          1999             140000000            QuinStreet
18          1998            5440000000             Rackspace
19          1980            6000000000          BMC Software
20          2000            1060000000            Higher One
21          1999             824000000              Infoblox
22          1998           11000000000               Tencent
23          2006             465000000               Marketo
24          1999            4000000000                 Baidu
25          1993             134000000               Geeknet
26          1999             450000000               Opsware
27          1999             337000000               Telenav
28          2001             315000000        Rally Software
29          2004            1000000000   BrightSource Energy
30          1999             970000000                  Mixi
31          1993            1000000000              QlikTech
32          2005            1100000000                 Chegg
33          2005            1100000000                 Chegg
34          2008           12800000000               Groupon
35          1999             803000000            SolarWinds
36          2004          108960000000                  GREE
37          2005             174000000                 Tudou
38          1999             245000000             DemandTec
39          1999             900000000  Cornerstone OnDemand
40          1970            9430000000       Western Digital
41          2006             973500000      Millennial Media

5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [178]:
employees_founded = db.docs.find({'$and' : [{"founded_year":{'$lt':2005}}, {"number_of_employees":{"$lt":1000}}]}, projection={"name": 1 , "founded_year": 1, "number_of_employees": 1}).sort("number_of_employees", py.DESCENDING).limit(10)
employees_founded = pd.DataFrame(list(employees_founded))
employees_founded

,_id,founded_year,name,number_of_employees
0,52cdef7d4bab8bd675298933,2000,Infinera Corporation,974
1,52cdef7e4bab8bd67529ac95,1997,NorthPoint Communications Group,948
2,52cdef7f4bab8bd67529be17,1997,888 Holdings,931
3,52cdef7c4bab8bd6752986a2,1983,Forrester Research,903
4,52cdef7e4bab8bd67529af6d,1991,SonicWALL,900
5,52cdef7e4bab8bd67529b21b,1999,Webmetrics,900
6,52cdef7e4bab8bd67529b3bd,1999,Cornerstone OnDemand,881
7,52cdef7c4bab8bd675297de0,2004,Yelp,800
8,52cdef7c4bab8bd675297ef5,2003,MySpace,800
9,52cdef7c4bab8bd675297efd,2000,ZoomInfo,800

6. All the companies that don't include the partners field.

In [187]:
no_partners = db.docs.find({"partners":{"$eq":[]}}, projection={"_id":0, "name": 1 , "partners": 1})
no_partners = pd.DataFrame(list(no_partners))
no_partners

                                 name partners
0                           AdventNet       []
1                                Zoho       []
2                                Digg       []
3                            Wetpaint       []
4                           Omnidrive       []
5                             Postini       []
6                                Geni       []
7                             Flektor       []
8               Fox Interactive Media       []
9                            Facebook       []
10                        StumbleUpon       []
11                             Gizmoz       []
12                            Twitter       []
13                            Slacker       []
14                               Lala       []
15                              Helio       []
16                             Scribd       []
17                            MeetMoi       []
18                               eBay       []
19                              Joost       []
20                                CBS       []
21                           Babelgum       []
22                             Viacom       []
23                              Plaxo       []
24                              Cisco       []
25                           Powerset       []
26                         Technorati       []
27                            SpinVox       []
28                            AddThis       []
29                              OpenX       []
...                               ...      ...
18617                  Cameron Health       []
18618                        Cantimer       []
18619               SolarPower Israel       []
18620         Celestial Semiconductor       []
18621                        Purfresh       []
18622                       MyChances       []
18623                 InSound Medical       []
18624                          Getyoo       []
18625                      Zoomission       []
18626                   Constant Wave       []
18627                    cruisecritic       []
18628               OfficialVirtualDJ       []
18629                        Coloroot       []
18630                      Eazeeloans       []
18631                         DocASAP       []
18632                       Embedster       []
18633                        cotralis       []
18634                  EnterSys Group       []
18635                  Axon Solutions       []
18636                         Intergy       []
18637  Contemporary Computer Services       []
18638                   Willdan Group       []
18639                            QSGI       []
18640                          Oriact       []
18641                          Adhunk       []
18642                      AfterLogic       []
18643                     goBookmaker       []
18644                        Geekdive       []
18645                       EnteGreat       []
18646             EnteGreat Solutions       []

[18647 rows x 2 columns]

7. All the companies that have a null type of value on the category_code field.
    - There are no nulls, but there are none

In [188]:
null_category = db.docs.find({"category_code":{"$type":10}}, projection={"_id":0, "name": 1 , "category_code": 1})
null_category = pd.DataFrame(list(null_category))
null_category

     category_code                                      name
0             None                                Collective
1             None                                   Snimmer
2             None                                    KoolIM
3             None                                   VidKing
4             None                              Level9 Media
5             None                                     Drigg
6             None                                 SpaceTime
7             None                                    MMDAYS
8             None                              Inside Group
9             None                             Touch Clarity
10            None                            Repeater Store
11            None                                    Tapesh
12            None                                 iPersians
13            None                                 NewPersia
14            None                                 Pyra Labs
15            None                                   Feedmap
16            None                                 NuvoMedia
17            None                                   Intwine
18            None                     The Weinstein Company
19            None                                  ExecuNet
20            None                               A1Vacations
21            None                                 TripHomes
22            None                              Picturehouse
23            None                     Covalent Technologies
24            None                                 Epic Trip
25            None                                  Telepost
26            None                                  Fidelity
27            None                                     Quirk
28            None                                   Skyrove
29            None                                Leechblock
...            ...                                       ...
2721          None  Jiangsu Shunda Semiconductor Development
2722          None                             Work N' Learn
2723          None                                  StampHub
2724          None                                    Synexi
2725          None                                  Fragpegs
2726          None                      EZ Finder Phonebooks
2727          None                         AddVal Technology
2728          None                                OnDemandIQ
2729          None                      Fast Data Technology
2730          None   Evolutionary Technologies International
2731          None             Direct Technology Innovations
2732          None                                  RayScale
2733          None                              PortalPlayer
2734          None                            Helium Systems
2735          None                              ProactiveNet
2736          None                                     Cubus
2737          None                         Email Data Source
2738          None                                 TimeMaker
2739          None                                   Prolify
2740          None                         SquaredyCat Media
2741          None                     xMarks Firefox Add-On
2742          None        Smart Bookmarks Bar Firefox Add-On
2743          None                      Yoono Firefox Add-On
2744          None                       Systems Integration
2745          None               Advanced Control Components
2746          None                                    Nellix
2747          None                                  Cantimer
2748          None                              cruisecritic
2749          None                                  Coloroot
2750          None                                  Geekdive

[2751 rows x 2 columns]

8. All the companies that have at least 100 employees but less than 1000. Retrieve only the name and number of employees fields.

In [185]:
employees_100_1000 = db.docs.find({"number_of_employees":{'$gte':100, "$lt":1000}}, projection={"_id": 0, "name": 1 , "number_of_employees": 1}).sort("number_of_employees", py.ASCENDING)
employees_100_1000 = pd.DataFrame(list(employees_100_1000))
employees_100_1000

                                name  number_of_employees
0                             Redfin                  100
1                       Simply Hired                  100
2                                hi5                  100
3                    INgage Networks                  100
4                              mig33                  100
5                                Fon                  100
6                           EchoSign                  100
7                           TrialPay                  100
8                           Firetide                  100
9                         Verimatrix                  100
10                              Blyk                  100
11                  Survey Analytics                  100
12             Social Gaming Network                  100
13                           Covario                  100
14                         99designs                  100
15                            Elance                  100
16                            Vovici                  100
17                             2ergo                  100
18                      Cheapflights                  100
19                          Medindia                  100
20                          Infibeam                  100
21                          Parature                  100
22                        WebCollage                  100
23                 Red Bend Software                  100
24                            Edmodo                  100
25                    Glasses Direct                  100
26                            myTino                  100
27                         ServePath                  100
28                      Mastiff Tech                  100
29                       BuildDirect                  100
..                               ...                  ...
887                         Sonosite                  715
888   Intelligent Software Solutions                  730
889                      Pegasystems                  750
890                Landor Associates                  750
891                             Yelp                  800
892                          MySpace                  800
893                         ZoomInfo                  800
894                          Mozilla                  800
895                       Buongiorno                  800
896                            Cvent                  800
897                          Wayfair                  800
898                      BitDefender                  800
899       Gateway TechnoLabs Pvt Ltd                  800
900                       LivingLink                  800
901                       LivingLink                  800
902                  Good Technology                  800
903            RightNow Technologies                  800
904                      SourceMedia                  800
905             Cornerstone OnDemand                  881
906                          Workday                  900
907                           InMobi                  900
908          Relax Solutions Pvt Ltd                  900
909                        SonicWALL                  900
910                       Webmetrics                  900
911               Forrester Research                  903
912                     888 Holdings                  931
913  NorthPoint Communications Group                  948
914                              Box                  950
915             Infinera Corporation                  974
916                      Datamonitor                  984

[917 rows x 2 columns]

9. Order all the companies by their IPO price descendently.

In [204]:
valuation_sorted = db.docs.find({"ipo.valuation_amount":{'$type':'number'}}, projection={"_id": 0, "name": 1 ,"ipo.valuation_amount": 1}).sort("ipo.valuation_amount", py.DESCENDING)
valuation_sorted = json_normalize(list(valuation_sorted))
valuation_sorted

    ipo.valuation_amount                        name
0           108960000000                        GREE
1           104000000000                    Facebook
2           100000000000                      Amazon
3            18100000000                     Twitter
4            12800000000                     Groupon
5            11000000000                     Tencent
6             9430000000             Western Digital
7             9310000000                    LinkedIn
8             6000000000                BMC Software
9             5440000000                   Rackspace
10            4000000000                       Baidu
11            3273770000                 TripAdvisor
12            3000000000                    HomeAway
13            2550000000                      Zillow
14            1600000000                     Nielsen
15            1300000000                        Yelp
16            1100000000                       Chegg
17            1100000000                       Chegg
18            1096000000             RPX Corporation
19            1060000000                  Higher One
20            1050000000                   OpenTable
21            1000000000               Jive Software
22            1000000000         BrightSource Energy
23            1000000000                    QlikTech
24             973500000            Millennial Media
25             970000000                        Mixi
26             900000000        Cornerstone OnDemand
27             824000000                    Infoblox
28             803000000                  SolarWinds
29             750000000                         Wix
..                   ...                         ...
31             450000000                     Opsware
32             367350000                      Emdeon
33             350000000                  Shutterfly
34             337000000                     Telenav
35             315000000              Rally Software
36             300000000                         STR
37             290000000                  Brightcove
38             287000000              ChannelAdvisor
39             275000000                Elster Group
40             245000000                   DemandTec
41             235000000                 KIT digital
42             174000000                       Tudou
43             160000000                        DivX
44             140000000                  QuinStreet
45             134000000                     Geeknet
46             110000000                  Salesforce
47             100000000                      JumpTV
48              95500000                     EnerNOC
49              66600000               Meru Networks
50              55000000            Real Goods Solar
51              50000000                Global Water
52              44000000                     Pironet
53              44000000                     Pironet
54              30000000                       Inuvo
55              30000000                       Inuvo
56              25000000  Energy and Power Solutions
57              11003200                      Vringo
58               5000000                    GT Solar
59                117900                        DeNA
60                117900                        DeNA

[61 rows x 2 columns]

10. Retrieve the 10 companies with more employees, order by the number of employees

In [201]:
employees_top10 = db.docs.find(projection={"name": 1 , "number_of_employees": 1, '_id':0}).sort("number_of_employees", py.DESCENDING).limit(10)
employees_top10 = pd.DataFrame(list(employees_top10))
employees_top10

                                         name  number_of_employees
0                                     Siemens               405000
1                                         IBM               388000
2                                      Toyota               320000
3                                      PayPal               300000
4  Nippon Telegraph and Telephone Corporation               227000
5                         Samsung Electronics               221726
6                                   Accenture               205000
7                   Tata Consultancy Services               200300
8                   Flextronics International               200000
9                                     Safeway               186000

11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [209]:
founded_semester = db.docs.find({"founded_month":{'$gte':7, "$lte":12}}, projection={"_id": 0, "name": 1 ,"founded_month": 1}).limit(1000)
founded_semester = json_normalize(list(founded_semester))
founded_semester

     founded_month                         name
0                9                         Zoho
1               10                         Digg
2               10                     Wetpaint
3               11                    Omnidrive
4                9                         eBay
5               10                        Joost
6               11                        Plaxo
7               10                     Powerset
8               12                         Kyte
9                9              Jingle Networks
10              12                        Thoof
11              12                       Wesabe
12              11                      SmugMug
13               8                     LifeLock
14               8                        Skype
15               7               Pando Networks
16               9                       Google
17              12                         Ikan
18               9                    delicious
19               8                     AllPeers
20               8                         Wize
21               8                    SellABand
22               7                       MeeVee
23               7                     iContact
24              12                       blinkx
25              11                         Zlio
26               7                         Yelp
27               7                        Jaiku
28               7                        Yapta
29              11                        Fleck
..             ...                          ...
970              7                 InHopeOfLove
971              9                       Signal
972              9                    amplusnet
973              9                    ecreative
974              9                 VvCompHelpvV
975              9              Comtech Systems
976             11    inFlow Inventory Software
977             12                    RunToShop
978             10                 MICROTRONICS
979              7                     Paragent
980             11         Stage Two Consulting
981              7                         Mixi
982              7                  TinyMassive
983             12                Urgent Career
984              7             Premier Staffing
985              8      Refulgence Technostream
986             11                         GCHQ
987             10                       Arkiva
988             10               Goodlife Media
989              8  The Washington Post Company
990             10            SmallWorldTickets
991             11                   linguaseek
992              7                  SavvyAuntie
993              9                         KIPL
994             11                     CakeMail
995             12                     LingusTV
996              9                 AccountMaven
997             10                     Chapatiz
998             10                      YOOWALK
999             10                  Data Domain

[1000 rows x 2 columns]

# Pending
12. All the companies that have been 'deadpooled' after the third year.

13. All the companies founded before 2000 that have and acquisition amount of more than 10.000.000

In [210]:
founded_acquisition = db.docs.find({'$and' : [{"founded_year":{'$lt':2000}}, {"acquisition.price_amount":{'$gt':10000000}}]},projection={"_id":0,"name": 1 , "founded_year": 1, "acquisition.price_amount": 1})
founded_acquisition = json_normalize(list(founded_acquisition))
founded_acquisition

     acquisition.price_amount  founded_year                            name
0                   625000000          1999                         Postini
1                   180000000          1999                        SideStep
2                    25000000          1999                      Recipezaar
3                  1500000000          1998                          PayPal
4                   300000000          1999                        Snapfish
5                   160000000          1999                         Neopets
6                  7400000000          1982                Sun Microsystems
7                  1200000000          1999                          Zappos
8                  1000000000          1999                         Alibaba
9                  4300000000          1960                           Sabre
10                 1008000000          1998                      Lastminute
11                   64000000          1994                      Sportsline
12                 1300000000          1980                         Digitas
13                   71000000          1995                        Webshots
14                   11600000          1999                            MIVA
15                  600000000          1995                        iVillage
16                  485000000          1999                    PriceGrabber
17                  425000000          1996                       LinkShare
18                   18400000          1999                         Kaboose
19                  132000000          1998                       Fastclick
20                  871000000          1999                          Eloqua
21                 1800000000          1996                        Omniture
22                  775000000          1995                      Interwoven
23                  250000000          1999                   HowStuffWorks
24                  100000000          1994                         RealAge
25                   50000000          1995                           Match
26                   30000000          1999                          Xdrive
27                  250000000          1996                           Alexa
28                   65000000          1996                     Offermatica
29                   91400000          1996                            ioko
..                        ...           ...                             ...
175                  24820000          1998                  Digital Forest
176                  13450000          1993                Connect3 Systems
177                 105000000          1979                  Tidal Software
178                  53000000          1999                       AppStream
179                  71000000          1987  Enliven Marketing Technologies
180                  73300000          1990                       NetManage
181                  87110000          1991          Integration Associates
182                 830000000          1985                          Sophos
183                 249000000          1990                       HireRight
184                 290000000          1986                 Photon Dynamics
185                 300000000          1993           NetCracker Technology
186                 471390000          1999                NuTech Solutions
187                 720000000          1968          Metrologic Instruments
188                 180000000          1986              Sierra Monolithics
189                  30000000          1945               Veeco Instruments
190                 552000000          1998                        Lightera
191                 300000000          1997                       NetScaler
192                 106140000          1985         Catapult Communications
193                  10500000          1997                       Easyspace
194                  15000000          1999                  Iron Solutions
195                  18000000          1999                        Bookrags
196                  28000000          1981            Aleri Global Banking
197                  29350000          1989                    Muniservices
198                 356000000          1998                       AuthenTec
199                1400000000          1969                       Vertafore
200                  49000000          1994                         Savvion
201                  30000000          1993            Inventa Technologies
202                  23200000          1998             Universal Microwave
203                  18780000          1982     Advanced Control Components
204                  15040000          1974  Contemporary Computer Services

[205 rows x 3 columns]

14. All the companies that have been acquired after 2015, order by the acquisition amount, and retrieve only their nameand acquisiton field.
    - Instruction is wrong, there are no values for 2015, therefore I changed it to acquired after 2005

In [227]:
founded_acquisition = db.docs.find({"acquisition.acquired_year":{'$gt':2005}}, projection={"_id":0,"name": 1 , "acquisition": 1}).sort("acquisition.price_amount", py.ASCENDING)
founded_acquisition = json_normalize(list(founded_acquisition))
founded_acquisition

,acquisition.acquired_day,acquisition.acquired_month,acquisition.acquired_year,acquisition.acquiring_company.name,acquisition.acquiring_company.permalink,acquisition.price_amount,acquisition.price_currency_code,acquisition.source_description,acquisition.source_url,acquisition.term_code,name
0,28.0,11.0,2012,MyHeritage,myheritage,NaN,USD,MyHeritage acquires Geni and $25M to build fam...,http://techcrunch.com/2012/11/28/all-in-the-fa...,None,Geni
1,15.0,12.0,2009,Daz 3d,daz-3d,NaN,USD,TechCrunch,http://www.gizmoz.com,None,Gizmoz
2,24.0,11.0,2009,Adconion Media Group,adconion-media-group,NaN,USD,Joost Is Now Officially Dead â€“ Assets Acquir...,http://www.techcrunch.com/2009/11/24/joost-acq...,None,Joost
3,31.0,1.0,2011,KIT digital,kit-digital,NaN,USD,"KIT digital Acquires KickApps, Kewego AND Kyte...",http://techcrunch.com/2011/01/31/exclusive-kit...,None,Kyte
4,7.0,4.0,2010,Qlipso,qlipso,NaN,USD,Qlipso's CEO Explains Why He Bought Veoh,http://techcrunch.com/2010/04/07/qlipso-veoh/,None,Veoh
5,31.0,10.0,2006,Google,google,NaN,USD,Google Acquires Wiki Collaboration Company Jot...,http://www.techcrunch.com/2006/10/31/google-ac...,None,JotSpot
6,13.0,3.0,2013,YouNow,younow,NaN,USD,Live Social Video Network YouNow Acquires Stre...,http://techcrunch.com/2013/03/13/younow-buys-b...,None,blogTV
7,1.0,1.0,2008,Adviqo,adviqo,NaN,USD,company,,cash_and_stock,Livestream
8,27.0,4.0,2011,AVOS Systems,avos,NaN,USD,Yahoo Sells Delicious To YouTube Founders,http://techcrunch.com/2011/04/27/yahoo-sells-d...,None,delicious
9,1.0,12.0,2008,Six Apart,six-apart,NaN,USD,Welcome Pownce team!,http://www.sixapart.com/blog/2008/12/welcome-p...,None,Pownce
10,5.0,4.0,2010,Zapoint,zapoint,NaN,USD,Zapoint Acquires Social Job Search Site Jobste...,http://techcrunch.com/2010/04/05/zapoint-acqui...,None,Jobster
11,30.0,4.0,2009,Intelius,intelius,NaN,USD,Intelius Buys People Search Engine Spock,http://www.paidcontent.org/entry/419-intelius-...,None,Spock
12,7.0,7.0,2010,NexTag,nextag,NaN,USD,Comparison Shopping Site NexTag Acquires Produ...,http://techcrunch.com/2010/07/07/comparison-sh...,None,Wize
13,16.0,12.0,2010,Tribune Media,tribune-media,NaN,USD,Tribune Media Buys Video Search Engine CastTV,http://techcrunch.com/2010/12/16/tribune-media...,None,CastTV
14,14.0,10.0,2010,Qualcomm Innovation Center,qualcomm-innovation-center,NaN,USD,Qualcomm Buys iSkoot To Upgrade Flip Phones,https://www.fis.dowjones.com/article.aspx?Prod...,None,iSkoot
15,NaN,5.0,2008,LiveUniverse,liveuniverse,NaN,USD,,http://www.techcrunch.com/2008/05/07/meevee-ac...,None,MeeVee
16,17.0,4.0,2013,Intel,intel,NaN,USD,Intel Acquires API Manager Mashery,http://allthingsd.com/20130417/intel-acquires-...,None,Mashery
17,19.0,2.0,2009,SAP,sap,NaN,USD,SAP Acquires Cogheadâ€™s Technology As It Look...,http://www.techcrunch.com/2009/02/19/sap-acqui...,None,Coghead
18,12.0,12.0,2012,Perfect Sense Digital,perfect-sense-digital,NaN,USD,Social software platform KickApps gets acquire...,http://thenextweb.com/insider/2012/12/12/socia...,None,KickApps
19,9.0,2.0,2012,Dassault Systemes,dassault,NaN,USD,Dassault Systemes Acquires Netvibes,http://www.marketwatch.com/story/dassault-syst...,None,Netvibes
20,1.0,8.0,2011,Autodesk,autodesk,NaN,USD,Autodesk Acquires DIY Community Instructables,http://techcrunch.com/2011/08/01/autodesk-acqu...,None,Instructables
21,19.0,4.0,2011,SAY Media,saymedia,NaN,USD,SAY Media Acquires Dogster (And Has More Acqui...,http://techcrunch.com/2011/04/19/say-media-acq...,None,Dogster
22,20.0,6.0,2013,Site Scout,site-scout,NaN,USD,SiteScout Acquires IP Developed By Defunct Ad ...,http://techcrunch.com/2013/06/20/sitescout-acq...,None,adBrite
23,1.0,10.0,2007,MSNBC,msnbc,NaN,USD,None,None,cash,Newsvine
24,NaN,6.0,2007,RiffTrax,rifftrax,NaN,USD,,,None,Cuts
25,NaN,11.0,2008,MyLife,mylife-com,NaN,USD,"Old Friends Wink And Reunion.com Reconnect, Merge",http://www.techcrunch.com/2008/11/03/old-frien...,cash_and_stock,Wink
26,5.0,9.0,2012,HootSuite,hootsuite,NaN,USD,"HootSuite acquires Seesmic, Seesmic customers ...",http://venturebeat.com/2012/09/05/hootsuite-ac...,None,Seesmic
27,5.0,12.0,2012,QVC,qvc,NaN,USD,QVC Acquires Social Classifieds Veteran Oodle ...,http://techcrunch.com/2012/12/05/qvc-acquires-...,None,Oodle
28,NaN,12.0,2007,Stylehive,stylehive,NaN,USD,JMP Securities,,None,stylediary
29,4.0,5.0,2011,Warner Bros.,warner-bros,NaN,USD,Warner Bros. Acquires Social Movie Site Flixst...,http://techcrunch.com/2011/05/04/warner-bros-a...,None,Flixster
...,...,...,...,...,...,...,...,...,...,...,...
2405,11.0,11.0,2009,Hewlett-Packard,hewlett-packard,2.700000e+09,USD,HP Acquires 3Com For $2.7 Billion,http://www.techcrunch.com/2009/11/11/hp-acquir...,cash,3Com
2406,23.0,7.0,2013,Cisco,cisco,2.700000e+09,USD,Cisco Acquires Cybersecurity Company Sourcefir...,http://techcrunch.com/2013/07/23/cisco-acquire...,None,Sourcefire
2407,15.0,3.0,2007,Cisco,cisco,2.900000e+09,USD,Cisco acquires WebEx,http://blog.tmcnet.com/blog/tom-keating/voip/c...,cash,WebEx
2408,15.0,3.0,2007,Cisco,cisco,2.900000e+09,USD,Cisco acquires WebEx,http://blog.tmcnet.com/blog/tom-keating/voip/c...,cash,WebEx
2409,22.0,7.0,2008,Brocade Communications Systems,brocade-communications-systems,3.000000e+09,USD,Brocade Buying Foundry for $3 Billion,http://gigaom.com/2008/07/21/brocade-foundry/,cash,Foundry Networks
2410,11.0,4.0,2011,Level 3 Communications,level-3,3.000000e+09,USD,Level 3 To Acquire Global Crossing For $3 Bill...,http://techcrunch.com/2011/04/11/level-3-to-ac...,stock,Global Crossing
2411,11.0,4.0,2011,Level 3 Communications,level-3,3.000000e+09,USD,Level 3 To Acquire Global Crossing For $3 Bill...,http://techcrunch.com/2011/04/11/level-3-to-ac...,stock,Global Crossing
2412,5.0,5.0,2011,Qualcomm,qualcomm,3.100000e+09,USD,Qualcomm Brings Atheros Into the Fold,http://www.sdbj.com/news/2011/may/24/qualcomm-...,stock,Qualcomm Atheros
2413,22.0,2.0,2012,SAP,sap,3.400000e+09,USD,After Closing $3.4B Acquisition Of SuccessFact...,http://techcrunch.com/2012/02/22/successfactor...,None,SuccessFactors
2414,4.0,5.0,2010,Silverlake & Warburg Pincus,silverlake-warburg-pincus,3.400000e+09,USD,Financial data firm IDC sold in $3B deal,http://venturebeat.com/2010/05/04/financial-da...,None,Interactive Data
2415,7.0,7.0,2008,NBC Universal,nbcuniversal,3.500000e+09,USD,Deal Done: Weather Channel Sold To NBCU and Ba...,http://www.paidcontent.org/entry/419-deal-done...,None,The Weather Channel
2416,20.0,4.0,2009,GlaxoSmithKline,glaxosmithkline,3.600000e+09,USD,Glaxo Bags Stiefel,http://www.forbes.com/2009/04/20/gsk-stiefel-d...,cash_and_stock,Stiefel
2417,12.0,9.0,2011,Broadcom,broadcom,3.700000e+09,USD,Broadcom Buys Chipmaking Technology Company Ne...,http://techcrunch.com/2011/09/12/broadcom-buys...,cash_and_stock,NetLogic Microsystems
2418,22.0,2.0,2009,AT&T,at-t,3.900000e+09,USD,SBC e-commerce buy signals new ambitions,http://news.cnet.com/2100-1033-237171.html,None,Sterling Commerce
2419,31.0,8.0,2009,The Walt Disney Company,the-walt-disney-company,4.000000e+09,USD,Disney To Acquire Marvel Entertainment For $4 ...,http://www.techcrunch.com/2009/08/31/breaking-...,cash_and_stock,Marvel Entertainment
2420,NaN,12.0,2006,Silver Lake Partners & Texas Pacific Group,silver-lake-partners-texas-pacific-group,4.300000e+09,USD,"Sabre Holdings, travel reservation co., sold t...",http://venturebeat.com/2006/12/12/sabre-holdin...,None,Sabre
2421,22.0,5.0,2012,SAP,sap,4.300000e+09,USD,SAP To Acquire Ariba For $4.3 Billion,http://techcrunch.com/2012/05/22/sap-to-acquir...,None,Ariba
2422,28.0,9.0,2009,Xerox,xerox,5.750000e+09,USD,Xerox Buys Affiliated Computer Services For $5...,http://www.businessinsider.com/xerox-buying-th...,cash_and_stock,Affiliated Computer Services
2423,12.0,5.0,2010,SAP,sap,5.800000e+09,USD,SAP To Acquire Sybase For $5.8 Billion To Comp...,http://techcrunch.com/2010/05/12/confirmed-sap...,cash,Sybase
2424,31.0,1.0,2006,Oracle Corporation,oracle,5.850000e+09,USD,Oracle Agrees to Buy Siebel for $10.66 a Share,http://www.oracle.com/corporate/press/2006_jan...,stock,Siebel Systems
2425,18.0,5.0,2007,Microsoft,microsoft,6.400000e+09,USD,Microsoft Pays $6 billion for aQuantive: Massi...,http://www.techcrunch.com/2007/05/18/microsoft...,cash,aQuantive
2426,4.0,4.0,2011,Texas Instruments,texas-instruments,6.500000e+09,USD,TI to acquire National Semiconductor Complemen...,"http://www.national.com/news/item/0,1735,1522,...",cash,National Semiconductor
2427,16.0,12.0,2013,Avago Technologies,avago-technologies,6.600000e+09,USD,Avago to Buy LSI for $6.6 Billion,http://dealbook.nytimes.com/2013/12/16/avago-t...,cash,LSI
2428,20.0,4.0,2009,Oracle Corporation,oracle,7.400000e+09,USD,Oracle To Buy Sun For Approximately $7.4 Billi...,http://www.techcrunch.com/2009/04/20/oracle-to...,cash,Sun Microsystems
2429,24.0,1.0,2006,The Walt Disney Company,the-walt-disney-company,7.400000e+09,USD,Pixar About Page,http://www.pixar.com/companyinfo/about_us/over...,stock,Pixar
2430,9.0,2.0,2009,Puget Holdings,puget-holdings,7.400000e+09,USD,xconomy,http://www.xconomy.com/seattle/2009/02/09/puge...,cash,Puget Energy
2431,10.0,7.0,2008,Nokia,nokia,8.100000e+09,USD,Press Release,http://www.businessweek.com/stories/2007-10-01...,None,Navteq
2432,16.0,1.0,2008,Oracle Corporation,oracle,8.500000e+09,USD,Oracle to Acquire BEA Systems,http://www.oracle.com/corporate/press/2008_jan...,None,BEA Systems
2433,22.0,9.0,2011,United Technologies,united-technologies,1.840000e+10,USD,UTC shells out $18.4 billion for Goodrich,http://www.masshightech.com/stories/2011/09/19...,None,Goodrich Corporation
2434,20.0,3.0,2011,AT&T,at-t,3.900000e+10,USD,"In The Race For More Spectrum, AT&T Is Acquiri...",http://techcrunch.com/2011/03/20/in-the-race-f...,None,T-Mobile

## Optional 
15. Order the companies by their founded year, retrieving only their name and founded year.
16. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their aquisition price descendently. Limit the search to 10 documents.
17. All the companies on the 'web' category that have more than 4000 employees. Sort them by the amount of employees in ascendant order.
18. All the companies which their acquisition amount is more than 10.000.000, and currency are 'EUR'.
19. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their name and acquisition fields.
20. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.