# Pandas Project

## Select Data Set
I selected the **Countries of the World** data set from [Kaggle Data Sets](https://www.kaggle.com/fernandol/countries-of-the-world).

## About Countries of the World
METER EXPLICACION DE QUE ES Y QUE QUIERO HACER CON ESTO

## Create Jupiter Notebook and Import Pandas Library
I launched Jupiter Notebook through the terminal 
```
$ jupyter notebook
```

I created a new Python3 notebook called 
**data-wrangling.ipynb**

I imported the pandas library

In [2]:
import pandas as pd

## Import the Data Set using Pandas
I downloaded the data set in csv from Kaggle and saved it in the same folder as the jupyter notebook.

I went to the jupyter notebook and imported the csv file in 'dataset' and assigned it to the variable 'data'

In [3]:
data = pd.read_csv('countries of the world.csv')
print(type(data))

<class 'pandas.core.frame.DataFrame'>

## Examine Data Set
I printed the first five rows of 'data' to get a general idea of the data set.

In [4]:
data.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

I printed the summary information to further understand the composition of the data set.

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 20 columns):
Country                               227 non-null object
Region                                227 non-null object
Population                            227 non-null int64
Area (sq. mi.)                        227 non-null int64
Pop. Density (per sq. mi.)            227 non-null object
Coastline (coast/area ratio)          227 non-null object
Net migration                         224 non-null object
Infant mortality (per 1000 births)    224 non-null object
GDP ($ per capita)                    226 non-null float64
Literacy (%)                          209 non-null object
Phones (per 1000)                     223 non-null object
Arable (%)                            225 non-null object
Crops (%)                             225 non-null object
Other (%)                             225 non-null object
Climate                               205 non-null object
Birthrate                             224 non-null object
Deathrate                             223 non-null object
Agriculture                           212 non-null object
Industry                              211 non-null object
Service                               212 non-null object
dtypes: float64(1), int64(2), object(17)
memory usage: 35.5+ KB

## Clean and Manipulate the Data Set

### Correct Data Types
Most of the columns in the data set had a data type of 'object'. Therefore, I decided to start the analysis with reviewing if this was correct. From my review I concluded that 15 out of the 20 columns needed the data type to be corrected. The data type for the 15 columns needed to change from 'object' to 'float'.

Trying to correct the data types I discoved that the data was separed by commas instead of periods. Therefore, I had to replace the commas for periods before I could change the data types.

#### Replace Commas for Periods 
I executed this action for the 15 columns and replaced the currect commas for periods.

In [6]:
data['Pop. Density (per sq. mi.)'] = data['Pop. Density (per sq. mi.)'].str.replace(',', '.')
data['Coastline (coast/area ratio)'] = data['Coastline (coast/area ratio)'].str.replace(',', '.')
data['Net migration'] = data['Net migration'].str.replace(',', '.')
data['Infant mortality (per 1000 births)'] = data['Infant mortality (per 1000 births)'].str.replace(',', '.')
data['Literacy (%)'] = data['Literacy (%)'].str.replace(',', '.')
data['Phones (per 1000)'] = data['Phones (per 1000)'].str.replace(',', '.')
data['Arable (%)'] = data['Arable (%)'].str.replace(',', '.')
data['Crops (%)'] = data['Crops (%)'].str.replace(',', '.')
data['Other (%)'] = data['Other (%)'].str.replace(',', '.')
data['Climate'] = data['Climate'].str.replace(',', '.')
data['Birthrate'] = data['Birthrate'].str.replace(',', '.')
data['Deathrate'] = data['Deathrate'].str.replace(',', '.')
data['Agriculture'] = data['Agriculture'].str.replace(',', '.')
data['Industry'] = data['Industry'].str.replace(',', '.')
data['Service'] = data['Service'].str.replace(',', '.')

With this change I could now proceed to change the data types. I executed this action for the 15 columns and corrected the data type from 'obeject' to 'float64'.

In [7]:
data['Pop. Density (per sq. mi.)'] = data['Pop. Density (per sq. mi.)'].astype('float64')
data['Coastline (coast/area ratio)'] = data['Coastline (coast/area ratio)'].astype('float64')
data['Net migration'] = data['Net migration'].astype('float64')
data['Infant mortality (per 1000 births)'] = data['Infant mortality (per 1000 births)'].astype('float64')
data['Literacy (%)'] = data['Literacy (%)'].astype('float64')
data['Phones (per 1000)'] = data['Phones (per 1000)'].astype('float64')
data['Arable (%)'] = data['Arable (%)'].astype('float64')
data['Crops (%)'] = data['Crops (%)'].astype('float64')
data['Other (%)'] = data['Other (%)'].astype('float64')
data['Climate'] = data['Climate'].astype('float64')
data['Birthrate'] = data['Birthrate'].astype('float64')
data['Deathrate'] = data['Deathrate'].astype('float64')
data['Agriculture'] = data['Agriculture'].astype('float64')
data['Industry'] = data['Industry'].astype('float64')
data['Service'] = data['Service'].astype('float64')

I proceded to confirm that the data typed were actually changed.

In [12]:
data.dtypes

Country                                object
Region                                 object
Population                              int64
Area (sq. mi.)                          int64
Pop. Density (per sq. mi.)            float64
Coastline (coast/area ratio)          float64
Net migration                         float64
Infant mortality (per 1000 births)    float64
GDP ($ per capita)                    float64
Literacy (%)                          float64
Phones (per 1000)                     float64
Arable (%)                            float64
Crops (%)                             float64
Other (%)                             float64
Climate                               float64
Birthrate                             float64
Deathrate                             float64
Agriculture                           float64
Industry                              float64
Service                               float64
dtype: object

##