## API

In [206]:
import json
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [271]:
url = "https://api.coindesk.com/v1/bpi/historical/close.json"

def request(currency="USD",sd=None,ed=None):
    """The currency must be in ISO 4217 format. The Start Date (sd) and the End date (ed) must be in the format YYYY-MM-DD, 
      if you dont write any argument you will get the last 31 days """     
   
    try: 
        if sd==None and ed==None:
            response = requests.get(url+ "?currency="+currency)
        elif sd!=None and ed != None:
            response = requests.get(url+ "?currency="+ currency+ "&start=" + sd + "&end="+ed)

        results = response.json()
        df = pd.DataFrame(results)
        df.reset_index(level=0, inplace=True)
        df2 = df[["index","bpi"]]
        df2.columns = [["Date","Bitcoin Price {}".format(currency)]]
        df2.reset_index(level=0)
        return df2[:-2]
    except: 
        print("You must introduce both the sd and the ed of none of them, verify that the currency exists")
    

request("EUR","2015-10-10","2016-10-10")

           Date Bitcoin Price EUR
0    2015-10-10          215.9811
1    2015-10-11          217.8799
2    2015-10-12          216.2337
3    2015-10-13          219.5886
4    2015-10-14          220.0079
5    2015-10-15          223.8958
6    2015-10-16          231.6831
7    2015-10-17          238.9689
8    2015-10-18          231.4955
9    2015-10-19          233.4014
10   2015-10-20          238.1546
11   2015-10-21          235.7767
12   2015-10-22          247.1083
13   2015-10-23          251.8224
14   2015-10-24          256.5466
15   2015-10-25          256.9617
16   2015-10-26          258.7957
17   2015-10-27          266.5990
18   2015-10-28          278.1076
19   2015-10-29          285.3793
20   2015-10-30          296.2103
21   2015-10-31          283.8655
22   2015-11-01          294.9713
23   2015-11-02          326.3041
24   2015-11-03          365.5443
25   2015-11-04          376.1275
26   2015-11-05          356.0961
27   2015-11-06          349.1013
28   2015-11-07          358.2473
29   2015-11-08          347.9326
..          ...               ...
337  2016-09-11          539.2001
338  2016-09-12          539.5530
339  2016-09-13          541.0096
340  2016-09-14          540.6468
341  2016-09-15          538.1830
342  2016-09-16          543.3660
343  2016-09-17          542.4340
344  2016-09-18          545.4854
345  2016-09-19          544.3583
346  2016-09-20          537.5182
347  2016-09-21          532.3164
348  2016-09-22          530.8307
349  2016-09-23          535.8562
350  2016-09-24          535.5245
351  2016-09-25          533.5965
352  2016-09-26          539.1529
353  2016-09-27          538.9946
354  2016-09-28          537.9767
355  2016-09-29          539.1679
356  2016-09-30          541.3268
357  2016-10-01          546.2169
358  2016-10-02          543.0372
359  2016-10-03          546.1132
360  2016-10-04          543.7453
361  2016-10-05          545.0011
362  2016-10-06          548.0078
363  2016-10-07          550.3087
364  2016-10-08          550.4047
365  2016-10-09          549.3200
366  2016-10-10          554.1676

[367 rows x 2 columns]

In [247]:
response = requests.get('https://api.coindesk.com/v1/bpi/historical/close.json')
results = response.json()
df = pd.DataFrame(results)
df.reset_index(level=0, inplace=True)
df2 = df[["index","bpi"]]
df2.columns = [["Date","Bitcoin Price (USD)"]]
df3 = df2[:30]
df3.head()

         Date Bitcoin Price (USD)
0  2018-10-01           6578.7938
1  2018-10-02           6506.6575
2  2018-10-03           6470.7138
3  2018-10-04           6555.8750
4  2018-10-05           6589.4038

In [ ]:
data = df3.to_csv('Output/API_Bitcoin.csv', index=False)

## Web Scrapping

In [178]:
url = ("https://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html")
html = requests.get(url).content
result = BeautifulSoup(html,"lxml")

In [205]:
country_ = result.select(".currency")
country = [ctry.text for ctry in country_]
currency_ = result.select(".alignLeft")
currency = [curr.text for curr in currency_]
spot_ = result.select(".rate")
spot = [sp.text for sp in spot_]
dictionary = {"Country":country,"Currency":currency,"Spot":spot}
df = pd.DataFrame(dictionary)
df

   Country               Currency      Spot
0      USD              US dollar    1.1393
1      JPY           Japanese yen    128.52
2      BGN          Bulgarian lev    1.9558
3      CZK           Czech koruna    25.879
4      DKK           Danish krone    7.4604
5      GBP         Pound sterling   0.88173
6      HUF       Hungarian forint    322.96
7      PLN           Polish zloty    4.3269
8      RON           Romanian leu    4.6640
9      SEK          Swedish krona   10.3158
10     CHF            Swiss franc    1.1430
11     ISK        Icelandic krona    137.90
12     NOK        Norwegian krone    9.5150
13     HRK          Croatian kuna    7.4360
14     RUB         Russian rouble   74.8346
15     TRY           Turkish lira    6.3245
16     AUD      Australian dollar    1.5857
17     BRL         Brazilian real    4.2078
18     CAD        Canadian dollar    1.4904
19     CNY  Chinese yuan renminbi    7.9046
20     HKD       Hong Kong dollar    8.9293
21     IDR      Indonesian rupiah  17192.30
22     ILS         Israeli shekel    4.2245
23     INR           Indian rupee   83.6800
24     KRW       South Korean won   1285.70
25     MXN           Mexican peso   22.9917
26     MYR      Malaysian ringgit    4.7674
27     NZD     New Zealand dollar    1.7190
28     PHP        Philippine piso    60.642
29     SGD       Singapore dollar    1.5701
30     THB              Thai baht    37.529
31     ZAR     South African rand   16.6021

'USD'