# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [119]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats_local/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

Using the iterative data analysis workflow, we break down the main problem into several sub problems:

### Main Problem - Setting Expectations

**Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?**

**Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?**

**Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?**

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

---

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

## Main Problem - Collecting Information

### Sub Problem 1 - Setting Expectations

**How to aggregate the  `amount_spent` for unique customers?**

### Sub Probme 1 - Collecting Information

In [120]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397924 entries, 0 to 397923
Data columns (total 14 columns):
Unnamed: 0      397924 non-null int64
InvoiceNo       397924 non-null int64
StockCode       397924 non-null object
year            397924 non-null int64
month           397924 non-null int64
day             397924 non-null int64
hour            397924 non-null int64
Description     397924 non-null object
Quantity        397924 non-null int64
InvoiceDate     397924 non-null object
UnitPrice       397924 non-null float64
CustomerID      397924 non-null int64
Country         397924 non-null object
amount_spent    397924 non-null float64
dtypes: float64(2), int64(8), object(4)
memory usage: 42.5+ MB

In [121]:
customer_agg = orders.groupby('CustomerID').agg({'amount_spent':'sum'}).reset_index()
customer_agg.head()

   CustomerID  amount_spent
0       12346      77183.60
1       12347       4310.00
2       12348       1797.24
3       12349       1757.55
4       12350        334.40

### Sub Probme 1 - Reacting to Data / Revising Expectations

---

1. *Test your output.*
1. *Revise solution or declare success for the sub problem.*

---

### Sub Problem 2 - Setting Expectations

**How to select customers whose aggregated `amount_spent` is in a given quantile range?**

### Sub Problem 2 - Collecting information

In [133]:
print(customer_agg.quantile(0.25))
print(customer_agg.quantile(0.75))
print(customer_agg.median())
print(customer_agg.mean())
print(customer_agg.max())
print(customer_agg.min())

CustomerID      13812.500
amount_spent      307.245
Name: 0.25, dtype: float64
CustomerID      16778.50
amount_spent     1661.64
Name: 0.75, dtype: float64
CustomerID      15299.00
amount_spent      674.45
dtype: float64
CustomerID      15299.936852
amount_spent     2053.793018
dtype: float64
CustomerID        18287
amount_spent     280206
Customer_type       VIP
dtype: object
CustomerID       12346.0
amount_spent         0.0
Customer_type        0.0
dtype: float64

### Sub Problem 2 - Reacting to Data / Revising Expectations

---

1. *Test your output.*
1. *Revise solution or declare success for the sub problem.*

---

### Sub Problem 3 - Setting Expectations

How to label selected customers as "VIP" or "Preferred"?

In [139]:
#Opcion 1
customer_agg['Customer_type'] = np.where(customer_agg['amount_spent'] > 1661.64, 'VIP', 'No Preferred')
customer_agg.head()

   CustomerID  amount_spent Customer_type
0       12346      77183.60           VIP
1       12347       4310.00           VIP
2       12348       1797.24           VIP
3       12349       1757.55           VIP
4       12350        334.40  No Preferred

In [ ]:
#Opcion 2. Aunque devuelve un error porque los bins no aumentan monotonamente.  
c_labels = ['Min', 'Quantile1', 'Median', 'Quantile2', 'Max']
cutoffs = [0,307,2053,1661,280206]
b = pd.cut(customer_agg['Customer_type'],cutoffs, labels=c_labels)

### Sub Problem 3 - Collecting Information

In [ ]:
# enter your code

### Sub Problem 3 - Reacting to Data / Revising Expectations

---

1. *Test your output.*
1. *Revise solution or declare success for the sub problem.*

---

Now we can wrap up for the main problem solution:

## Main Problem - Reacting to Data / Revising Expectations

---

1. *Test your output.*
1. *Revise solution or declare success for the main problem.*

*Hint: Look forward to what you need to do in Q2. In order for you to solve Q2 conveniently, you probably want to create a new column called `customer_label` where you label the selected customers with `VIP` or `Preferred`.*

---

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below: