# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [3]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [8]:
# enter your code here
orders = pd.read_csv("Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

Using the iterative data analysis workflow, we break down the main problem into several sub problems:

### Main Problem - Setting Expectations

**Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?**

**Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?**

**Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?**

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

---

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

## Main Problem - Collecting Information

### Sub Problem 1 - Setting Expectations

**How to aggregate the  `amount_spent` for unique customers?**

### Sub Probme 1 - Collecting Information

In [19]:
amount_spent = orders.groupby("CustomerID").agg({'amount_spent':'sum'})
amount_spent

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
12352            2506.04
12353              89.00
12354            1079.40
12355             459.40
12356            2811.43
12357            6207.67
12358            1168.06
12359            6372.58
12360            2662.06
12361             189.90
12362            5226.23
12363             552.00
12364            1313.10
12365             641.38
12367             168.90
12370            3545.69
12371            1887.96
12372            1298.04
12373             364.60
12374             742.93
12375             457.50
12377            1628.12
12378            4008.62
12379             852.24
12380            2724.81
...                  ...
18242            2232.49
18245            2567.06
18246             596.10
18248             804.02
18249              95.34
18250             349.27
18251            4314.72
18252             526.67
18255             103.30
18257            2337.63
18259            2338.60
18260            2643.20
18261             324.24
18262             149.48
18263            1213.16
18265             801.51
18268              25.50
18269             168.60
18270             283.15
18272            3078.58
18273             204.00
18274             175.92
18276             335.86
18277             110.38
18278             173.90
18280             180.60
18281              80.82
18282             178.05
18283            2094.88
18287            1837.28

[4339 rows x 1 columns]

### Sub Probme 1 - Reacting to Data / Revising Expectations

---

1. *Test your output.*
1. *Revise solution or declare success for the sub problem.*

---

### Sub Problem 2 - Setting Expectations

**How to select customers whose aggregated `amount_spent` is in a given quantile range?**

### Sub Problem 2 - Collecting information

In [79]:
orders[orders['amount_spent'] >= int(amount_spent.quantile(0.5))]

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
176,178,536387,79321,2010,12,3,9,chilli lights,192,2010-12-01 09:58:00,3.82,16029,United Kingdom,733.44
860,870,536477,21137,2010,12,3,12,black record cover frame,480,2010-12-01 12:27:00,3.39,16210,United Kingdom,1627.20
1797,2364,536584,84029E,2010,12,3,16,red woolly hottie white heart.,384,2010-12-01 16:22:00,2.95,13777,United Kingdom,1132.80
3241,4469,536783,22752,2010,12,4,15,set 7 babushka nesting boxes,96,2010-12-02 15:19:00,7.65,15061,United Kingdom,734.40
3277,4505,536785,22423,2010,12,4,15,regency cakestand 3 tier,144,2010-12-02 15:22:00,10.95,15061,United Kingdom,1576.80
3606,4850,536809,84950,2010,12,4,16,assorted colour t-light holder,1824,2010-12-02 16:48:00,0.55,15299,United Kingdom,1003.20
3671,4946,536830,21915,2010,12,4,17,red harmonica in box,1400,2010-12-02 17:38:00,1.06,16754,United Kingdom,1484.00
4436,6607,536970,22423,2010,12,5,13,regency cakestand 3 tier,120,2010-12-03 13:12:00,10.95,17949,United Kingdom,1314.00
7811,10205,537235,22622,2010,12,1,9,box of vintage alphabet blocks,156,2010-12-06 09:45:00,8.50,17381,United Kingdom,1326.00
8022,11626,537256,21137,2010,12,1,11,black record cover frame,480,2010-12-06 11:06:00,3.39,16210,United Kingdom,1627.20
9734,14067,537456,22469,2010,12,2,9,heart of wicker small,402,2010-12-07 09:43:00,1.93,17450,United Kingdom,775.86
9735,14068,537456,22470,2010,12,2,9,heart of wicker large,378,2010-12-07 09:43:00,3.21,17450,United Kingdom,1213.38
10366,14784,537618,22423,2010,12,2,13,regency cakestand 3 tier,80,2010-12-07 13:50:00,10.95,15061,United Kingdom,876.00
10784,16425,537657,82484,2010,12,2,16,wood black board ant white finish,408,2010-12-07 16:42:00,4.78,18102,United Kingdom,1950.24
10786,16427,537657,22189,2010,12,2,16,cream heart card holder,972,2010-12-07 16:42:00,2.31,18102,United Kingdom,2245.32
10787,16428,537657,22188,2010,12,2,16,black heart card holder,972,2010-12-07 16:42:00,2.31,18102,United Kingdom,2245.32
10788,16429,537657,21623,2010,12,2,16,vintage union jack memoboard,408,2010-12-07 16:42:00,6.38,18102,United Kingdom,2603.04
10793,16434,537659,22507,2010,12,2,16,memo board retrospot design,208,2010-12-07 16:43:00,3.86,18102,United Kingdom,802.88
10794,16435,537659,22189,2010,12,2,16,cream heart card holder,1008,2010-12-07 16:43:00,2.31,18102,United Kingdom,2328.48
10795,16436,537659,22188,2010,12,2,16,black heart card holder,1008,2010-12-07 16:43:00,2.31,18102,United Kingdom,2328.48
10797,16438,537659,21623,2010,12,2,16,vintage union jack memoboard,600,2010-12-07 16:43:00,6.38,18102,United Kingdom,3828.00
10799,16440,537659,82484,2010,12,2,16,wood black board ant white finish,600,2010-12-07 16:43:00,4.78,18102,United Kingdom,2868.00
10800,16441,537659,22833,2010,12,2,16,hall cabinet with 3 drawers,72,2010-12-07 16:43:00,32.69,18102,United Kingdom,2353.68
12992,19871,537899,22328,2010,12,4,10,round snack boxes set of 4 fruits,1488,2010-12-09 10:44:00,2.55,12755,Japan,3794.40
13101,19980,537981,22492,2010,12,4,11,mini paint set vintage,1394,2010-12-09 11:35:00,0.55,17857,United Kingdom,766.70
13607,20528,538063,22830,2010,12,4,13,utilty cabinet with hooks,96,2010-12-09 13:44:00,19.94,18102,United Kingdom,1914.24
14708,23263,538191,22423,2010,12,5,10,regency cakestand 3 tier,272,2010-12-10 10:49:00,10.95,15061,United Kingdom,2978.40
15569,24127,538313,22752,2010,12,5,13,set 7 babushka nesting boxes,96,2010-12-10 13:50:00,7.65,15514,United Kingdom,734.40
19577,30079,538848,85232B,2010,12,2,13,set of 3 babushka stacking tins,240,2010-12-14 13:28:00,4.95,17404,Sweden,1188.00
20694,31595,538998,84347,2010,12,3,12,rotating silver angels t-light hldr,480,2010-12-15 12:08:00,1.88,15061,United Kingdom,902.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387956,526016,580645,23177,2011,12,1,13,treasure island book box,490,2011-12-05 13:11:00,1.95,17857,United Kingdom,955.50
387957,526017,580645,23193,2011,12,1,13,buffalo bill treasure book box,388,2011-12-05 13:11:00,1.95,17857,United Kingdom,756.60
387959,526019,580646,22560,2011,12,1,13,traditional modelling clay,800,2011-12-05 13:13:00,1.06,17857,United Kingdom,848.00
389990,528082,580727,DOT,2011,12,1,17,dotcom postage,1,2011-12-05 17:17:00,1599.26,14096,United Kingdom,1599.26
390907,530505,580873,23382,2011,12,2,12,box of 6 christmas cake decorations,240,2011-12-06 12:06:00,3.75,15061,United Kingdom,900.00
390918,530516,580873,22423,2011,12,2,12,regency cakestand 3 tier,128,2011-12-06 12:06:00,10.95,15061,United Kingdom,1401.60
392423,532711,580987,23080,2011,12,2,16,red metal box top secret,96,2011-12-06 16:35:00,7.50,17389,United Kingdom,720.00
393117,533627,581097,22476,2011,12,3,11,empire union jack tv dinner tray,600,2011-12-07 11:41:00,1.95,13685,United Kingdom,1170.00
393220,533733,581105,85152,2011,12,3,12,hand over the chocolate sign,620,2011-12-07 12:14:00,1.92,16000,United Kingdom,1190.40
393221,533734,581105,22457,2011,12,3,12,natural slate heart chalkboard,620,2011-12-07 12:14:00,2.55,16000,United Kingdom,1581.00
393222,533735,581105,22727,2011,12,3,12,alarm clock bakelike red,620,2011-12-07 12:14:00,2.99,16000,United Kingdom,1853.80
393223,533736,581105,23497,2011,12,3,12,classic chrome bicycle bell,620,2011-12-07 12:14:00,1.38,16000,United Kingdom,855.60
393224,533737,581105,23498,2011,12,3,12,classic bicycle clips,620,2011-12-07 12:14:00,1.38,16000,United Kingdom,855.60
393225,533738,581105,22961,2011,12,3,12,jam making set printed,620,2011-12-07 12:14:00,1.38,16000,United Kingdom,855.60
393226,533739,581105,23552,2011,12,3,12,bicycle puncture repair kit,620,2011-12-07 12:14:00,1.86,16000,United Kingdom,1153.20
393227,533741,581107,23461,2011,12,3,12,sweetheart bird house,620,2011-12-07 12:15:00,3.30,16000,United Kingdom,2046.00
393237,533751,581110,23486,2011,12,3,12,antique heart shelf unit,150,2011-12-07 12:17:00,13.35,16000,United Kingdom,2002.50
393298,533812,581115,22413,2011,12,3,12,metal sign take it or leave it,1404,2011-12-07 12:20:00,2.75,15195,United Kingdom,3861.00
394417,534952,581175,23084,2011,12,3,15,rabbit night light,1440,2011-12-07 15:16:00,1.79,14646,Netherlands,2577.60
394431,534968,581179,22423,2011,12,3,15,regency cakestand 3 tier,64,2011-12-07 15:43:00,10.95,12471,Germany,700.80
395597,537883,581375,21137,2011,12,4,12,black record cover frame,960,2011-12-08 12:36:00,3.39,16210,United Kingdom,3254.40
397108,540059,581457,22188,2011,12,4,18,black heart card holder,324,2011-12-08 18:43:00,2.31,18102,United Kingdom,748.44
397109,540060,581457,22189,2011,12,4,18,cream heart card holder,324,2011-12-08 18:43:00,3.39,18102,United Kingdom,1098.36
397110,540061,581457,23543,2011,12,4,18,wall art keep calm,698,2011-12-08 18:43:00,4.15,18102,United Kingdom,2896.70
397111,540062,581457,82484,2011,12,4,18,wood black board ant white finish,204,2011-12-08 18:43:00,4.80,18102,United Kingdom,979.20
397112,540063,581457,23553,2011,12,4,18,landmark frame camden town,120,2011-12-08 18:43:00,10.95,18102,United Kingdom,1314.00
397113,540064,581457,23542,2011,12,4,18,wall art 70's alphabet,120,2011-12-08 18:43:00,6.67,18102,United Kingdom,800.40
397119,540070,581458,22197,2011,12,4,18,popcorn holder,1500,2011-12-08 18:45:00,0.72,17949,United Kingdom,1080.00
397120,540071,581459,22197,2011,12,4,18,popcorn holder,1200,2011-12-08 18:46:00,0.72,17949,United Kingdom,864.00
397451,540421,581483,23843,2011,12,5,9,"paper craft , little birdie",80995,2011-12-09 09:15:00,2.08,16446,United Kingdom,168469.60

### Sub Problem 2 - Reacting to Data / Revising Expectations

---

1. *Test your output.*
1. *Revise solution or declare success for the sub problem.*

---

### Sub Problem 3 - Setting Expectations

How to label selected customers as "VIP" or "Preferred"?

### Sub Problem 3 - Collecting Information

In [57]:
VIP = orders[orders['amount_spent'] >= int(amount_spent.quantile(0.9))]
VIP

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
10797,16438,537659,21623,2010,12,2,16,vintage union jack memoboard,600,2010-12-07 16:43:00,6.38,18102,United Kingdom,3828.00
12992,19871,537899,22328,2010,12,4,10,round snack boxes set of 4 fruits,1488,2010-12-09 10:44:00,2.55,12755,Japan,3794.40
32189,52134,540689,22470,2011,1,2,8,heart of wicker large,1284,2011-01-11 08:43:00,3.21,17450,United Kingdom,4121.64
32730,52709,540815,85123A,2011,1,2,12,white hanging heart t-light holder,1930,2011-01-11 12:55:00,2.55,15749,United Kingdom,4921.50
32731,52710,540815,21175,2011,1,2,12,gin + tonic diet metal sign,2000,2011-01-11 12:55:00,1.85,15749,United Kingdom,3700.00
32732,52711,540815,21108,2011,1,2,12,fairy cake flannel assorted colour,3114,2011-01-11 12:55:00,2.10,15749,United Kingdom,6539.40
32793,52772,540818,48185,2011,1,2,12,doormat fairy cake,670,2011-01-11 12:57:00,6.75,15749,United Kingdom,4522.50
37126,61619,541431,23166,2011,1,2,10,medium ceramic top storage jar,74215,2011-01-18 10:01:00,1.04,12346,United Kingdom,77183.60
109620,160542,550461,85123A,2011,4,1,13,white hanging heart t-light holder,1930,2011-04-18 13:20:00,2.40,15749,United Kingdom,4632.00
109622,160544,550461,48185,2011,4,1,13,doormat fairy cake,670,2011-04-18 13:20:00,6.35,15749,United Kingdom,4254.50
109624,160546,550461,21108,2011,4,1,13,fairy cake flannel assorted colour,3114,2011-04-18 13:20:00,2.10,15749,United Kingdom,6539.40
118352,173382,551697,POST,2011,5,2,13,postage,1,2011-05-03 13:46:00,8142.75,16029,United Kingdom,8142.75
155418,222680,556444,22502,2011,6,5,15,picnic basket wicker 60 pieces,60,2011-06-10 15:28:00,649.50,15098,United Kingdom,38970.00
171574,244419,558526,23173,2011,6,4,11,regency teapot roses,540,2011-06-30 11:01:00,8.15,17949,United Kingdom,4401.00
204041,291249,562439,84879,2011,8,4,18,assorted colour bird ornament,2880,2011-08-04 18:06:00,1.45,12931,United Kingdom,4176.00
248700,348319,567423,23113,2011,9,2,11,pantry chopping board,756,2011-09-20 11:05:00,5.06,17450,United Kingdom,3825.36
248706,348325,567423,23243,2011,9,2,11,set of tea coffee sugar tins pantry,1412,2011-09-20 11:05:00,5.06,17450,United Kingdom,7144.72
295254,406406,571751,M,2011,10,3,11,manual,1,2011-10-19 11:18:00,3949.32,12744,Singapore,3949.32
308097,421601,573003,23084,2011,10,4,12,rabbit night light,2400,2011-10-27 12:11:00,2.08,14646,Netherlands,4992.00
308822,422351,573077,M,2011,10,4,14,manual,1,2011-10-27 14:13:00,4161.06,12536,France,4161.06
308846,422376,573080,M,2011,10,4,14,manual,1,2011-10-27 14:20:00,4161.06,12536,France,4161.06
378078,511421,579498,23084,2011,11,2,15,rabbit night light,2040,2011-11-29 15:52:00,1.79,12798,Japan,3651.60
393298,533812,581115,22413,2011,12,3,12,metal sign take it or leave it,1404,2011-12-07 12:20:00,2.75,15195,United Kingdom,3861.00
397451,540421,581483,23843,2011,12,5,9,"paper craft , little birdie",80995,2011-12-09 09:15:00,2.08,16446,United Kingdom,168469.60

### Sub Problem 3 - Reacting to Data / Revising Expectations

---

1. *Test your output.*
1. *Revise solution or declare success for the sub problem.*

---

Now we can wrap up for the main problem solution:

## Main Problem - Reacting to Data / Revising Expectations

---

1. *Test your output.*
1. *Revise solution or declare success for the main problem.*

*Hint: Look forward to what you need to do in Q2. In order for you to solve Q2 conveniently, you probably want to create a new column called `customer_label` where you label the selected customers with `VIP` or `Preferred`.*

---

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [43]:
VIP.groupby("Country").agg({'CustomerID':'count'})

                CustomerID
Country
United Kingdom           3