In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

year = int(input("En que año: "))
weight = int(input("Altura máxima [cm]: "))
title = "Más veces mejores jugadores de la semana " + str(year)

def acquire():
    df = pd.read_csv("NBA_player_of_the_week.csv")
    conferenc = pd.read_csv("conferenc.csv")
    data = pd.merge(df, conferenc, on="Team")
    return data
display(acquire().head())

En que año: 2016
Altura máxima [cm]: 200

,Age,Conference,Date,Draft Year,Height,Player,Position,Season,Season short,Seasons in league,Team,Weight,Real_value,Conferenc
0,29,NaN,"Apr 14, 1985",1978,6-5,Micheal Ray Richardson,PG,1984-1985,1985,6,New Jersey Nets,189,1.0,East
1,29,NaN,"Dec 30, 1984",1978,6-5,Micheal Ray Richardson,PG,1984-1985,1985,6,New Jersey Nets,189,1.0,East
2,25,NaN,"Nov 10, 1985",1981,6-8,Buck Williams,PF,1985-1986,1986,4,New Jersey Nets,215,1.0,East
3,24,NaN,"Apr 5, 1992",1989,6-1,Mookie Blaylock,PG,1991-1992,1992,2,New Jersey Nets,190,1.0,East
4,26,NaN,"Mar 14, 1993",1990,6-2,Rumeal Robinson,PG,1992-1993,1993,2,New Jersey Nets,195,1.0,East

In [48]:
def drop_columns(data):
    data_dropped = data.drop(["Conference", "Draft Year", "Real_value"], axis=1)
    return data_dropped
drop_columns(data).head()

,Age,Date,Height,Player,Position,Season,Season short,Seasons in league,Team,Weight,Conferenc
0,29,"Apr 14, 1985",6-5,Micheal Ray Richardson,PG,1984-1985,1985,6,New Jersey Nets,189,East
1,29,"Dec 30, 1984",6-5,Micheal Ray Richardson,PG,1984-1985,1985,6,New Jersey Nets,189,East
2,25,"Nov 10, 1985",6-8,Buck Williams,PF,1985-1986,1986,4,New Jersey Nets,215,East
3,24,"Apr 5, 1992",6-1,Mookie Blaylock,PG,1991-1992,1992,2,New Jersey Nets,190,East
4,26,"Mar 14, 1993",6-2,Rumeal Robinson,PG,1992-1993,1993,2,New Jersey Nets,195,East

In [67]:
def replace_height(data):
    Height=[]
    for i in data_dropped["Height"]:
        if "cm" in i:
            Height.append(int(float(i.replace('cm',''))))
        else:
            Height.append(int(float(i.replace('-','.'))*30.48))
    return Height
return data_dropped1 = pd.DataFrame(data_dropped, columnas=Height)
replace_height(data)

SyntaxError: 'return' outside function (<ipython-input-67-55eb84f00834>, line 7)

In [77]:
def replace(data):
    Height=[]
    for i in data_dropped["Height"]:
        if "cm" in i:
            Height.append(int(float(i.replace('cm',''))))
        else:
            Height.append(int(float(i.replace('-','.'))*30.48))
    return Height
    Weight=[]
    for item in data_dropped["Weight"]:
        if 'kg' in item:
            Weight.append(int(item.lower().replace('kg','')))
        else:
            Weight.append(int(int(item)*0.45))
    return Weight
    data_dropped["Weight"]=Weight
    data_dropped["Height"]=Height
    return data_dropped
    print(replace(data))

In [37]:
if __name__ == '__main__':
    data = acquire()
    data_dropped = drop_columns(data)
    replaced = replace(dropped_columns)
    barchart = visualize(results)
    save_viz(barchart)

NameError: name 'visualize' is not defined

In [7]:
data = pd.merge(df, conferenc, on="Team")
data = data.drop(["Conference", "Real_value", "Draft Year"], axis=1)
data.head()

,Age,Date,Height,Player,Position,Season,Season short,Seasons in league,Team,Weight,Conferenc
0,29,"Apr 14, 1985",6-5,Micheal Ray Richardson,PG,1984-1985,1985,6,New Jersey Nets,189,East
1,29,"Dec 30, 1984",6-5,Micheal Ray Richardson,PG,1984-1985,1985,6,New Jersey Nets,189,East
2,25,"Nov 10, 1985",6-8,Buck Williams,PF,1985-1986,1986,4,New Jersey Nets,215,East
3,24,"Apr 5, 1992",6-1,Mookie Blaylock,PG,1991-1992,1992,2,New Jersey Nets,190,East
4,26,"Mar 14, 1993",6-2,Rumeal Robinson,PG,1992-1993,1993,2,New Jersey Nets,195,East

In [8]:
Height=[]
for i in data["Height"]:
    if "cm" in i:
        Height.append(int(float(i.replace('cm',''))))
    else:
        Height.append(int(float(i.replace('-','.'))*30.48))
print(Height)

[198, 198, 207, 185, 188, 198, 182, 210, 192, 185, 188, 195, 195, 195, 195, 204, 198, 195, 204, 210, 195, 195, 195, 201, 201, 204, 201, 195, 201, 192, 192, 201, 201, 201, 201, 185, 201, 210, 210, 210, 201, 210, 210, 210, 213, 213, 182, 182, 185, 185, 185, 185, 182, 185, 182, 208, 185, 185, 201, 204, 204, 201, 204, 192, 204, 192, 155, 155, 219, 219, 219, 219, 204, 210, 210, 207, 207, 195, 186, 207, 186, 207, 207, 207, 182, 207, 182, 207, 182, 192, 192, 207, 207, 192, 155, 155, 207, 208, 208, 219, 210, 210, 210, 210, 210, 210, 210, 192, 210, 210, 210, 210, 210, 216, 201, 201, 216, 216, 216, 201, 216, 216, 216, 216, 201, 216, 216, 216, 201, 201, 216, 216, 201, 201, 201, 201, 201, 201, 216, 201, 216, 201, 201, 201, 201, 201, 201, 201, 201, 201, 201, 201, 213, 213, 213, 201, 201, 213, 201, 201, 201, 201, 213, 213, 213, 201, 201, 201, 201, 201, 210, 210, 210, 210, 210, 210, 213, 210, 213, 204, 204, 204, 204, 204, 210, 210, 204, 204, 204, 204, 204, 204, 185, 186, 186, 204, 204, 186, 204, 186, 204, 204, 185, 186, 204, 204, 210, 198, 179, 179, 179, 175, 175, 195, 198, 210, 210, 201, 185, 210, 210, 210, 210, 185, 185, 210, 210, 185, 195, 210, 210, 210, 185, 210, 210, 210, 210, 210, 210, 210, 210, 210, 210, 210, 185, 210, 210, 210, 186, 210, 210, 192, 210, 192, 210, 192, 185, 185, 203, 191, 192, 207, 204, 182, 198, 204, 198, 182, 204, 182, 182, 204, 210, 182, 192, 192, 201, 192, 192, 207, 192, 192, 210, 210, 210, 192, 204, 204, 192, 204, 204, 192, 192, 204, 192, 192, 192, 191, 191, 191, 206, 191, 191, 206, 201, 186, 195, 207, 195, 204, 213, 192, 213, 213, 213, 204, 188, 213, 213, 204, 204, 213, 195, 213, 213, 213, 213, 213, 213, 213, 213, 192, 213, 182, 204, 204, 204, 204, 204, 204, 204, 204, 213, 213, 219, 204, 219, 219, 219, 210, 204, 204, 204, 204, 204, 210, 204, 204, 210, 185, 188, 207, 185, 188, 185, 207, 186, 185, 185, 204, 204, 210, 210, 210, 201, 210, 201, 201, 201, 201, 201, 201, 201, 201, 201, 201, 201, 201, 201, 201, 201, 207, 201, 207, 207, 201, 201, 201, 207, 207, 201, 201, 201, 192, 192, 192, 192, 192, 192, 192, 192, 192, 179, 210, 204, 201, 201, 201, 188, 186, 201, 185, 213, 155, 155, 201, 192, 192, 222, 210, 207, 207, 207, 207, 207, 207, 207, 207, 207, 207, 207, 207, 207, 207, 207, 207, 207, 207, 207, 207, 207, 207, 207, 207, 207, 207, 192, 192, 192, 192, 207, 207, 207, 207, 207, 207, 207, 207, 203, 203, 208, 203, 203, 203, 203, 203, 203, 185, 185, 185, 192, 204, 192, 207, 207, 207, 185, 207, 207, 210, 210, 210, 192, 210, 210, 192, 192, 204, 198, 198, 192, 192, 186, 186, 211, 206, 210, 192, 192, 195, 204, 192, 198, 204, 198, 198, 182, 201, 185, 201, 213, 185, 185, 185, 192, 185, 192, 185, 186, 211, 203, 211, 186, 185, 204, 204, 204, 185, 185, 185, 195, 185, 185, 195, 195, 198, 185, 198, 185, 198, 198, 185, 204, 213, 213, 213, 213, 213, 201, 185, 213, 213, 213, 213, 213, 213, 213, 210, 201, 188, 219, 188, 198, 210, 210, 207, 207, 185, 185, 192, 207, 207, 201, 207, 207, 207, 207, 221, 185, 201, 201, 201, 201, 201, 201, 201, 182, 182, 182, 182, 198, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 182, 192, 192, 207, 201, 213, 208, 213, 213, 185, 185, 185, 185, 185, 185, 185, 185, 201, 201, 210, 201, 201, 182, 185, 185, 195, 195, 195, 195, 195, 204, 204, 188, 204, 188, 188, 192, 192, 204, 185, 204, 185, 192, 204, 192, 185, 192, 192, 192, 185, 185, 185, 192, 185, 185, 207, 198, 204, 225, 204, 225, 207, 186, 186, 204, 204, 204, 204, 210, 210, 210, 210, 210, 206, 193, 193, 193, 204, 204, 204, 204, 204, 204, 204, 204, 204, 204, 192, 222, 185, 186, 201, 201, 201, 201, 201, 186, 186, 186, 186, 186, 186, 192, 186, 186, 192, 191, 191, 191, 191, 192, 192, 216, 216, 216, 210, 216, 216, 207, 216, 216, 216, 216, 216, 216, 216, 216, 186, 216, 216, 186, 186, 186, 198, 186, 186, 186, 186, 186, 186, 186, 186, 186, 186, 186, 186, 186, 204, 188, 186, 201, 201, 188, 188, 188, 186, 201, 186, 188, 188, 188, 188, 186, 186, 186, 204, 186, 204, 201, 201, 211, 210, 204, 204, 198, 210, 210, 210, 210, 210, 210, 185, 210, 185, 188, 213, 188, 204, 213, 186, 186, 186, 186, 211, 213, 213, 213, 192, 210, 213, 213, 213, 213, 213, 204, 213, 213, 213, 201, 213, 192, 195, 192, 192, 192, 231, 207, 207, 207, 207, 231, 231, 207, 231, 231, 207, 231, 207, 185, 204, 192, 198, 198, 198, 198, 198, 198, 198, 198, 198, 196, 196, 196, 196, 196, 196, 183, 196, 196, 196, 186, 186, 207, 185, 185, 182, 185, 185, 185, 185, 201, 185, 195, 216, 195, 195, 195, 195, 195, 195, 195, 195, 195, 195, 195, 207, 195, 207, 207, 207, 195, 207, 195, 207, 207, 207, 207, 207, 207, 207, 195, 207, 207, 207, 207, 207, 186, 195, 207, 207, 195, 186, 195, 213, 193, 191, 191, 185, 207, 201, 201, 216, 216, 216, 216, 204, 207, 216, 204, 201, 182, 182, 207, 207, 207, 207, 207, 207, 186, 185, 185, 186, 186, 186, 186, 186, 182, 186, 182, 186, 186, 186, 186, 186, 186, 186, 186, 186, 186, 186, 213, 201, 201, 185, 201, 201, 207, 207, 207, 192, 185, 185, 185, 185, 207, 185, 186, 188, 186, 186, 186, 186, 186, 186, 186, 186, 186, 192, 186, 186, 186, 186, 186, 185, 185, 186, 185, 185, 185, 213, 213, 213, 201, 201, 201, 201, 201, 201, 201, 207, 186, 186, 188, 186, 186, 186, 186, 186, 185, 185, 185, 185, 185, 204, 201, 201, 201, 201, 201, 201, 201, 201, 201, 204, 201, 201, 201, 198, 192, 192, 192, 192, 204, 192, 192, 192, 210, 195, 195, 195, 195, 195, 186, 193, 193, 196, 186, 192, 182, 182, 182, 182, 210, 182, 182, 182, 182, 201, 213, 213, 213, 210, 210, 210, 216, 210, 216, 204, 204, 204, 201, 201, 204, 207, 204, 185, 185, 185, 210, 192, 210, 210, 210, 192, 210, 192, 192, 192, 210, 210, 192, 192, 210, 192, 210, 210, 210, 210, 210, 210, 210, 210, 210, 210, 192, 192, 210, 210, 210, 210, 192, 210, 210, 191, 191, 191, 191, 191, 191, 204, 213, 213, 192, 213, 185, 208, 208, 208, 211]

In [9]:
Weight=[]
for item in data["Weight"]:
    if 'kg' in item:
        Weight.append(int(item.lower().replace('kg','')))
    else:
        Weight.append(int(int(item)*0.45))
print(Weight)
#[int(item.lower().replace('kg','')) if 'kg' in item else int(int(item)*0.45) for item in (data['Weight']).unique()]

[85, 85, 96, 85, 87, 90, 75, 103, 83, 110, 81, 94, 94, 94, 94, 104, 85, 94, 104, 108, 94, 94, 94, 99, 99, 104, 99, 94, 99, 83, 83, 92, 92, 92, 83, 103, 83, 103, 114, 114, 100, 114, 114, 114, 119, 119, 78, 78, 112, 112, 112, 112, 78, 112, 78, 114, 79, 79, 99, 85, 85, 99, 85, 76, 85, 76, 73, 73, 117, 117, 117, 117, 92, 110, 110, 108, 108, 92, 108, 108, 108, 108, 108, 108, 74, 108, 74, 108, 74, 94, 94, 108, 108, 94, 87, 87, 102, 113, 113, 101, 114, 114, 114, 114, 114, 114, 114, 87, 114, 114, 114, 114, 114, 117, 85, 85, 146, 146, 146, 95, 146, 146, 146, 146, 95, 146, 146, 146, 95, 95, 146, 146, 95, 95, 95, 95, 95, 95, 146, 95, 146, 95, 95, 95, 95, 95, 95, 95, 95, 95, 95, 95, 112, 112, 128, 95, 95, 112, 95, 95, 95, 95, 112, 128, 128, 95, 95, 95, 95, 95, 99, 99, 99, 99, 99, 99, 103, 99, 103, 87, 105, 105, 105, 105, 119, 119, 105, 105, 105, 105, 105, 105, 130, 108, 108, 105, 105, 108, 105, 108, 105, 105, 83, 108, 105, 105, 117, 87, 83, 83, 83, 84, 84, 85, 93, 119, 119, 85, 76, 119, 119, 119, 119, 76, 76, 119, 119, 76, 92, 119, 119, 119, 76, 119, 119, 119, 119, 119, 119, 119, 119, 119, 119, 119, 76, 119, 105, 105, 112, 119, 119, 90, 119, 90, 119, 90, 130, 130, 102, 85, 76, 96, 96, 78, 87, 96, 96, 78, 96, 78, 78, 96, 110, 78, 96, 96, 101, 96, 96, 99, 83, 83, 110, 110, 110, 85, 96, 96, 85, 96, 96, 85, 85, 103, 85, 85, 85, 86, 86, 86, 109, 86, 86, 109, 104, 103, 94, 111, 94, 101, 110, 80, 110, 110, 110, 101, 83, 110, 110, 94, 94, 110, 94, 110, 110, 110, 110, 110, 110, 110, 110, 83, 110, 83, 90, 90, 90, 90, 90, 90, 90, 90, 110, 110, 117, 90, 117, 117, 117, 101, 101, 108, 108, 108, 108, 101, 108, 108, 101, 110, 83, 110, 110, 83, 110, 110, 96, 108, 96, 92, 92, 94, 108, 110, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 96, 102, 96, 102, 102, 96, 96, 96, 102, 102, 96, 96, 96, 90, 90, 90, 90, 85, 85, 85, 85, 85, 81, 119, 103, 105, 105, 105, 83, 96, 83, 92, 110, 81, 81, 87, 90, 90, 117, 119, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 86, 86, 86, 86, 112, 112, 112, 112, 112, 112, 112, 112, 113, 113, 114, 113, 113, 113, 113, 113, 113, 81, 81, 81, 85, 94, 85, 101, 101, 101, 103, 101, 101, 108, 108, 108, 94, 108, 108, 94, 94, 86, 92, 92, 93, 93, 125, 125, 127, 107, 99, 81, 83, 92, 101, 83, 92, 101, 92, 92, 74, 99, 89, 99, 117, 76, 112, 105, 83, 76, 83, 76, 99, 101, 106, 101, 103, 99, 92, 92, 92, 126, 126, 126, 81, 126, 126, 81, 81, 92, 105, 92, 105, 92, 92, 105, 92, 108, 108, 108, 108, 108, 83, 81, 108, 108, 108, 108, 108, 108, 108, 108, 92, 81, 117, 81, 87, 110, 110, 108, 108, 110, 110, 90, 108, 108, 101, 108, 108, 108, 108, 109, 96, 113, 113, 113, 90, 113, 113, 113, 74, 74, 74, 74, 94, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 74, 90, 90, 99, 85, 113, 104, 113, 113, 92, 92, 92, 81, 99, 81, 99, 81, 113, 113, 126, 113, 113, 67, 81, 81, 94, 94, 94, 94, 94, 102, 102, 81, 102, 81, 81, 80, 80, 102, 110, 102, 110, 80, 102, 80, 110, 80, 80, 80, 110, 110, 110, 85, 110, 108, 99, 83, 83, 112, 83, 112, 94, 105, 105, 117, 117, 117, 83, 99, 99, 99, 99, 99, 100, 95, 95, 95, 94, 94, 94, 94, 94, 94, 94, 94, 94, 94, 78, 125, 101, 103, 94, 94, 94, 94, 94, 117, 117, 117, 117, 117, 117, 87, 117, 117, 87, 88, 88, 88, 88, 83, 83, 112, 112, 112, 99, 112, 112, 92, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 87, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 112, 90, 83, 112, 92, 92, 83, 83, 83, 112, 92, 112, 83, 83, 83, 83, 112, 112, 112, 103, 117, 103, 104, 104, 118, 101, 94, 94, 96, 110, 110, 110, 110, 110, 110, 103, 110, 103, 87, 117, 87, 89, 117, 121, 121, 121, 121, 122, 114, 114, 114, 76, 101, 114, 114, 114, 114, 114, 94, 114, 114, 114, 113, 114, 87, 85, 87, 87, 87, 139, 94, 94, 94, 94, 139, 139, 94, 139, 139, 94, 139, 94, 88, 89, 85, 99, 99, 99, 99, 99, 99, 99, 99, 99, 100, 100, 100, 100, 100, 100, 79, 100, 100, 100, 103, 103, 102, 99, 108, 78, 108, 108, 108, 108, 90, 103, 99, 146, 99, 99, 99, 99, 99, 99, 99, 99, 99, 99, 99, 112, 99, 112, 112, 112, 99, 112, 99, 112, 112, 112, 112, 112, 112, 112, 99, 112, 112, 112, 112, 112, 105, 99, 112, 112, 99, 105, 99, 120, 100, 86, 86, 81, 103, 102, 102, 146, 146, 146, 146, 87, 103, 146, 87, 102, 76, 76, 94, 94, 94, 94, 94, 101, 119, 99, 99, 119, 119, 119, 119, 119, 85, 119, 85, 119, 119, 119, 119, 119, 119, 119, 119, 119, 119, 119, 117, 112, 112, 108, 112, 112, 102, 102, 102, 96, 89, 82, 82, 82, 90, 83, 108, 81, 108, 108, 108, 108, 108, 108, 108, 108, 108, 83, 108, 108, 108, 108, 108, 130, 130, 138, 112, 112, 89, 109, 111, 111, 99, 99, 99, 99, 99, 99, 99, 94, 105, 105, 84, 105, 105, 105, 105, 105, 88, 88, 78, 88, 88, 99, 100, 100, 100, 100, 100, 100, 100, 100, 100, 86, 96, 96, 98, 82, 85, 85, 85, 85, 102, 85, 85, 85, 105, 94, 94, 94, 94, 94, 108, 95, 95, 94, 116, 96, 78, 78, 78, 78, 112, 78, 78, 78, 78, 97, 112, 112, 112, 117, 117, 117, 114, 117, 116, 99, 99, 99, 101, 101, 99, 99, 99, 130, 130, 82, 108, 90, 108, 108, 108, 90, 108, 90, 90, 90, 108, 108, 90, 90, 108, 90, 108, 108, 108, 108, 108, 108, 108, 108, 108, 108, 90, 90, 108, 108, 108, 108, 90, 108, 108, 91, 91, 91, 91, 91, 91, 108, 120, 120, 90, 120, 113, 115, 115, 115, 122]

In [11]:
data["Weight"]=Weight
data["Height"]=Height
data.head()

NameError: name 'Weight' is not defined

In [6]:
data["Weight"] = data["Weight"].astype("int64")
data["Draft Year"] = data["Draft Year"].astype("datetime64")
data["Season short"] = data["Season short"].astype("datetime64")
data.dtypes

c:\users\pablo\appdata\local\programs\python\python37\lib\site-packages\pandas\core\internals.py:3714: FutureWarning: Passing in 'datetime64' dtype with no frequency is deprecated and will raise in a future version. Please pass in 'datetime64[ns]' instead.
  return self.apply('astype', dtype=dtype, **kwargs)

Age                           int64
Date                         object
Draft Year           datetime64[ns]
Height                        int64
Player                       object
Position                     object
Season                       object
Season short         datetime64[ns]
Seasons in league             int64
Team                         object
Weight                        int64
Real_value                  float64
Conferenc                    object
dtype: object

In [ ]:
year = int(input("En que año: "))
weight = int(input("Altura máxima [cm]: "))
title = "Más veces mejores jugadores de la semana " + str(year)

In [ ]:
def acquire():
    data = pd.read_csv("NBA_player_of_the_week.csv")
    df = pd.read_csv("NBA_player_of_the_week.csv")
    conferenc = pd.read_csv("conferenc.csv")
    data = pd.merge(df, conferenc, on="Team")
    data = data.drop("Conference", axis=1)
    return data

In [ ]:
def wrangle(data, year, weight):
    filtered = data[(data["Season short"]=="year") & (data["Weight"]<="weight")]
    return filtered
print(wrangle(data, 2000, 200))

In [ ]:
def visualize(filtered):
    fig, ax = plt.subplots(figsize=(15,8))
    barchart = sns.barplot(data=results, x="Player", y="Age")
    plt.title(title + "\n", fontsize=16)
    return barchart

In [ ]:
def save_viz(barchart):
    fig = barchart.get_figure()
    fig.savefig(title + '.png')